extends ~@layouts/basic/main-layout/main-layout.pug

block append variables
  -
    title = 'Навигация по страницам';
    description = 'Навигация по сверстанным макетам страниц';

block header
block content
  main.index__main
    h1.index__heading Добро пожаловать на страницу навигации
    p.index__description Здесь представлены сверстанные страницы, выбирай любую.
    nav.index__pages-navigation
      ul.index__pages-list
        -
          const json = htmlWebpackPlugin ? require('@pages/index/index.json') : { pages: [] };
          const { pages } = json;
        each page in pages
          li.index__pages-list-item
            a.index__link(href=page.href)= page.title
