@use "./../../../colors.scss";

$counter: 1;
@each $color-name, $color-value in colors.$THEME_COLORS {
  [class="color-sample"]:nth-child(#{$counter}) > .color-sample__sample {
    background-color: map-get(colors.$THEME_COLORS, $color-name);
  }
  $counter: $counter + 1;
}
