@use '@utils/devTools/styles/mixins.scss';
@use '@utils/devTools/styles/functions.scss';
@use '@themes/main/gradients.scss';

.form-like-button {
  display: inline-block;
  position: relative;
  line-height: 0;

  &__button {
    appearance: none;
    width: 40px / 14px * 1em;
    height: 20px / 14px * 1em;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px black;
    border-radius: 25% / 50%;
    cursor: pointer;

    @media print, screen and (color) {
      border: var(--border);
    }

    &:checked {
      @media print, screen and (color) {
        background: linear-gradient(180deg, white, white) padding-box,
          gradients.primary(1) border-box;
      }

      &:before,
      & + .form-like-button__counter {
        @media print, screen and (color) {
          color: rgba(var(--color__primary), 1);
        }
      }

      &:before {
        content: '\e87d';
      }
    }

    &:before {
      content: '\e87e';
      width: 50%;
      height: 1em;
      font-size: 10px / 14px * 1em;
      line-height: 1em;
      text-align: center;
      font-family: 'Material Icons';
      color: black;

      @media print, screen and (color) {
        color: rgba(var(--color__dark-shade), 0.25);
      }
    }
  }

  &__counter {
    width: 3ex;
    height: 1em;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 10px / 14px * 1em;
    line-height: 1em;
    @include mixins.ellipsisText;
    pointer-events: none;

    @media print, screen and (color) {
      color: rgba(var(--color__dark-shade), 0.25);
    }
  }
}
