@use '@utils/devTools/styles/mixins.scss';

.form-like-button {
  position: relative;
  display: inline-block;
  line-height: 0;

  &__button {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: 40px / 14px * 1em;
    height: 20px / 14px * 1em;
    border: 1px black;
    border-radius: 25% / 50%;
    appearance: none;

    @media print, screen and (color) {
      border: var(--border);
    }

    &:checked {
      @media print, screen and (color) {
        border-color: rgba(var(--color__primary), 1);
      }

      &::before,
      & + .form-like-button__counter {
        @media print, screen and (color) {
          color: rgba(var(--color__primary), 1);
        }
      }

      &::before {
        content: '\e87d';
      }
    }

    &::before {
      width: 50%;
      height: 1em;
      color: black;
      content: '\e87e';
      text-align: center;
      font-size: 10px / 14px * 1em;
      font-family: 'Material Icons';
      line-height: 1em;

      @media print, screen and (color) {
        color: rgba(var(--color__dark-shade), 0.25);
      }
    }
  }

  &__counter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-top: auto;
    margin-bottom: auto;
    width: 3ex;
    height: 1em;
    font-size: 10px / 14px * 1em;
    line-height: 1em;
    pointer-events: none;

    @media print, screen and (color) {
      color: rgba(var(--color__dark-shade), 0.25);
    }
    @include mixins.ellipsis-text();
  }
}
