
/* lib redefinition */
.datepicker-inline {
  position: absolute;
  top: 3.54em;
  cursor: initial;
}

.datepicker--nav,
.datepicker--content {
  padding: 0;
  text-indent: initial;
}

.datepicker--nav {
  border-bottom: 0;
  min-height: initial;
}
.datepicker--nav-title i {
  color: inherit;
}
.datepicker--nav-action {
  font-family: "Material Icons";
}

.datepicker--content {
  padding-top: 2.142857142857143em;
}
.datepicker--days-names {
  margin: 0;
}
.datepicker--cell,
.datepicker--day-name {
  height: 3.333333333333333em;
}

/* project's */
.form-dropdown__datepicker {
  width: 100%;
  z-index: 1;
  text-align: inherit;
  text-indent: inherit;
}
.form-dropdown__calendar {
  width: initial;
  font-size: inherit;
  padding: 1.428571428571429em;
  padding-bottom: 1em;
  margin: 0px -1px;
}
.form-dropdown__calendar_isHidden {
  display: none;
}
