.button_isLink {
  position: relative;
  background: rgba(169, 169, 169, 1);

  &:hover {
    background: rgba(169, 169, 169, 0.5);
  }

  .material-icon {
    width: 3.666666666666667em;
    top: 0;
    right: 0;

    &:after {
      content: "\e5c8";
      color: white;
    }
  }
}
