@use "./../../../colors.scss";

.form-toggle__button-item {
  border: var(--border);

  &:checked {
    border-color: colors.getColor(color__primary, 1);
  }

  &:before {
    background-color: colors.getColor(color__dark-shade, 0.25);
  }

  &:checked:before {
    background-color: colors.getColor(color__primary, 1);
  }
}
