@use "./../../colors.scss";

.expand-icon {
  &:after {
    font-size: 1rem;
    color: colors.getColor(color__dark-shade, 0.5);
  }
}
*:focus > .expand-icon,
*:hover > .expand-icon,
*:focus-within > .expand-icon {
  &:after {
    color: colors.getColor(color__dark-shade, 0.75);
  }
}
