@use "./../../../gradients.scss";

.form-text-field__link-icon {
  font-size: 1rem;
  color: transparent;
  background: gradients.getBinaryLinearGradient(color__primary, 1);
  background-clip: text;
}
