@use "./../../../gradients.scss";

.form-rate-button__button-item + label:before {
  background-image: gradients.getBinaryLinearGradient(color__primary, 1);
  color: transparent;
  background-clip: text;
}
