@use "./../../../colors.scss";

.form-rate-button__button-item + label:before {
  background-image: map-get(colors.$THEME_GRADIENTS, gradient__primary);
  color: transparent;
  background-clip: text;
}
