@use '@shared/styles/media.scss';

.search-room-layout {
  display: grid;
  align-items: flex-start;
  padding: #{30px / 14px * 1em} #{140px / 1440px * 100%} #{71.5px / 14px * 1em} #{140px /
    1440px * 100%};
  grid:
    'filter'
    'title'
    'rooms'
    'pagination';
  grid-column-gap: 60px / (1440px - 140px * 2) * 100%;

  @media print, screen and (min-width: media.$md) {
    $filter-width: 266px / (1440px - 140px * 2) * 100%;

    grid:
      'filter title'
      'filter rooms'
      '. pagination' / #{$filter-width} auto;
  }

  &__filter {
    display: grid;
    grid-area: filter;
    grid:
      'dates-of-stay-dropdown'
      '.' #{21px / 14px * 1em}
      'guests-dropdown'
      '.' #{31px / 14px * 1em}
      'price-range-slider'
      '.' #{30px / 14px * 1em}
      'checkbox-buttons'
      '.' #{28px / 14px * 1em}
      'affordable-rich-checkbox-buttons'
      '.' #{28px / 14px * 1em}
      'facilities-dropdown'
      '.' #{24px / 14px * 1em}
      'additional-comfort-expandable-checkbox-list';
  }

  &__dates-of-stay-dropdown {
    grid-area: dates-of-stay-dropdown;
  }

  &__guests-dropdown {
    grid-area: guests-dropdown;
  }

  &__price-range-slider {
    grid-area: price-range-slider;
  }

  &__checkbox-buttons {
    grid-area: checkbox-buttons;
  }

  &__affordable-rich-checkbox-buttons {
    grid-area: affordable-rich-checkbox-buttons;
  }

  &__facilities-dropdown {
    grid-area: facilities-dropdown;
  }

  &__additional-comfort-expandable-checkbox-list {
    grid-area: additional-comfort-expandable-checkbox-list;
  }

  &__title {
    margin-bottom: 22px / 14px * 1em;
    grid-area: title;
  }

  &__rooms {
    display: grid;
    grid-area: rooms;
    grid: auto-flow auto / 1fr 1fr 1fr;
    grid-gap: #{20px / 14px * 1em} #{12px / 14px * 1em};
    justify-items: center;
    grid-template-columns: 1fr;

    @media print, screen and (min-width: media.$xs) {
      grid-template-columns: 1fr 1fr;
    }

    @media print, screen and (min-width: media.$lg) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__room {
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9) {
      margin-top: 1px;
    }
  }

  &__pagination {
    margin-top: 41px / 14px * 1em;
    margin-right: 14px / 14px * 1em;
    grid-area: pagination;
  }
}
