extends ~@pug/layouts/main.pug

block variables
  - var keywords = 'FSD, Frontend, TOXIN, образование, верстка';
  - var description = 'Страница поиска по номерам в макете сайта TOXIN';
  - var title = 'Поиск по номерам';

block header
block content
block footer
