@use '@utils/devTools/styles/mixins.scss';
@use '@utils/devTools/styles/functions.scss';

@include mixins.import-font(
  'Quicksand',
  '@assets/fonts/quicksand/quicksand-regular/quicksand-regular.ttf'
);
@include mixins.import-font(
  'Quicksand',
  '@assets/fonts/quicksand/quicksand-bold/quicksand-bold.ttf',
  bold
);
@include mixins.import-font(
  'Montserrat',
  '@assets/fonts/montserrat/montserrat-regular/montserrat-regular.ttf'
);
@include mixins.import-font(
  'Montserrat',
  '@assets/fonts/montserrat/montserrat-bold/montserrat-bold.ttf',
  bold
);

:root {
  --font__h1: 700 1rem / #{29.26px / 24px * 1rem} #{functions.safe-font-family(
      'Montserrat'
    )};
  --font__h2: 700 #{19px / 24px * 1rem} / #{23.16px / 24px * 1rem} #{functions.safe-font-family(
      'Montserrat'
    )};
  --font__h3: 700 #{12px / 24px * 1rem} / #{14.63px / 24px * 1rem} #{functions.safe-font-family(
      'Montserrat'
    )};
  --font__body: 400 #{14px / 24px * 1rem} / 1rem #{functions.safe-font-family(
      'Montserrat'
    )};
}

html {
  font-size: functions.get-liquid-size(24, 18);
}

h1,
h2 {
  font-weight: 700;
}
h1 {
  font: var(--font__h1);
}
h2 {
  font: var(--font__h2);
}

h3 {
  text-transform: uppercase;
  font: var(--font__h3);
  font-weight: 700;
}

body {
  font: var(--font__body);
  font-weight: 400;
}
