@use '@utils/devTools/styles/mixins.scss';
@use '@utils/devTools/styles/functions.scss';

@include mixins.import-font(
  'Montserrat',
  '@assets/fonts/montserrat/montserrat-regular/montserrat-regular.ttf'
);
@include mixins.import-font(
  'Montserrat',
  '@assets/fonts/montserrat/montserrat-bold/montserrat-bold.ttf',
  bold
);

:root {
  --font__h1: 700 1rem / #{29.5px / 24px * 1rem} #{functions.safe-font-family(
      'Montserrat'
    )};
  --font__h2: 700 #{19px / 24px * 1rem} / #{23.5px / 24px * 1rem} #{functions.safe-font-family(
      'Montserrat'
    )};
  --font__h3: 700 #{12px / 24px * 1rem} / #{15px / 24px * 1rem} #{functions.safe-font-family(
      'Montserrat'
    )};
  --font__body: 400 #{14px / 24px * 1rem} / 1rem #{functions.safe-font-family(
      'Montserrat'
    )};
}

body {
  font: var(--font__body);
}
