@use '@shared/utils/styles/mixins.scss';
@use '@shared/utils/styles/functions.scss';

@include mixins.import-font(
  'Montserrat',
  '@assets/fonts/montserrat/montserrat-regular/montserrat-regular.ttf'
);
@include mixins.import-font(
  'Montserrat',
  '@assets/fonts/montserrat/montserrat-bold/montserrat-bold.ttf',
  bold
);

:root {
  --h1-font: 700 1rem / #{29.5px / 24px * 1rem} #{functions.safe-font-family(
      'Montserrat'
    )};
  --h2-font: 700 #{19px / 24px * 1rem} / #{23.5px / 24px * 1rem} #{functions.safe-font-family(
      'Montserrat'
    )};
  --h3-font: 700 #{12px / 24px * 1rem} / #{15px / 24px * 1rem} #{functions.safe-font-family(
      'Montserrat'
    )};
  --body-font: 400 #{14px / 24px * 1rem} / 1rem #{functions.safe-font-family(
      'Montserrat'
    )};
}

body {
  font: var(--body-font);
}
