$area-size: 20px/14.4px+0vmax;
$mark-size: 12px/14.4px+0vmax;
$mark-margin: 0.278vmax;
$border-size: 0.06944vmax;
$mark-translate: 2 * $area-size - $mark-size - $mark-margin - 2 * $border-size;
.form-toggle__button-item {
  appearance: none;
  position: relative;
  display: inline-block;
  width: 2 * $area-size;
  height: $area-size;
  border: $border-size solid black;
  border-radius: 10px/14.4px+0vmax;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: $mark-margin;
    width: $mark-size;
    height: $mark-size;
    background-color: black;
    border-radius: 100%;
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }

  &:checked:before {
    left: initial;
    transform: translateX(calc(#{$mark-translate}));
  }
}
