@use "./../../../colors.scss";

.form-text-field__field {
  color: map-get(colors.$THEME_COLORS, color__dark-shade_25);
  border-color: map-get(colors.$THEME_COLORS, color__dark-shade_25);

  &:hover, &:focus{
    color: map-get(colors.$THEME_COLORS, color__dark-shade_75);
  border-color: map-get(colors.$THEME_COLORS, color__dark-shade_50);
  }
}
