.cards-layout {
  $gap: 40px / 14px * 1em;

  @media print, screen and (min-width: 0px) {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-row-gap: $gap;
  }

  @media print, screen and (min-width: 1440px) {
    grid:
      'pick-room room-definition calendar'
      '. room-definition .' $gap
      'registration room-definition card-luxury-room' #{100px / 14px * 1em}
      'registration . card-luxury-room' $gap
      'registration entering card-luxury-room' #{114px / 14px * 1em}
      'registration entering .' $gap
      'registration entering card-common-room';
    justify-content: initial;
    justify-items: initial;
    grid-row-gap: initial;
    grid-column-gap: $gap;
    padding-top: 65px / 1440px * 100%;
  }
}
