@use "./../../../colors.scss";

.form-like-button__button-item {
  border: var(--border);

  &:checked {
    background: linear-gradient(180deg, white, white) padding-box,
      map-get(colors.$THEME_GRADIENTS, gradient__primary_100) border-box;
  }

  &:before,
  &:after {
    font-size: 0.4167rem;
    color: map-get(colors.$THEME_COLORS, color__dark-shade_25);
  }
  &:before {
    line-height: 0.354167rem;
  }
  &:after {
    line-height: 0.5rem;
  }

  &:checked:before,
  &:checked:after {
    color: map-get(colors.$THEME_COLORS, color__primary_100);
  }
}
