@use "./../../../colors.scss";
@use "./../../../gradients.scss";

.form-like-button__button-item {
  border: var(--border);

  &:checked {
    background: linear-gradient(180deg, white, white) padding-box,
      gradients.getBinaryLinearGradient(color__primary, 1) border-box;
  }

  &:before,
  &:after {
    font-size: 0.4167rem;
    color: colors.getColor(color__dark-shade, 0.25);
  }
  &:before {
    line-height: 0.354167rem;
  }
  &:after {
    line-height: 0.5rem;
  }

  &:checked:before,
  &:checked:after {
    color: colors.getColor(color__primary, 1);
  }
}
