.comments {
  display: grid;
  grid:
    'heading counter'
    'items items' / 1fr auto;

  &__heading {
    margin-bottom: #{20px / 14px * 1em};
    grid-area: heading;
  }

  &__counter {
    grid-area: counter;

    @media print, screen and (color) {
      color: rgb(var(--main-common-color) / 50%);
    }
  }

  &__items {
    display: grid;
    grid-area: items;
    grid-row-gap: 24px / 14px * 1em;
  }

  &__item {
    display: grid;
    grid:
      'icon source'
      'like content' / auto 1fr;
    gap: 10px / 14px * 1em;
  }

  &__icon-item {
    width: 48px / 14px * 1em;
    border: 2px solid white;
    border-radius: 100%;
    grid-area: icon;

    @media print, screen and (color) {
      box-shadow: 0 #{10px / 14px * 1em} #{20px / 14px * 1em} 0
        rgb(var(--main-common-color) / 10%);
    }
  }

  &__source-item {
    grid-area: source;
  }

  &__name-item {
    grid-area: name;
  }

  &__date-item {
    margin: 0;
  }

  &__content-item {
    margin: 0;
  }

  &__like-button-item {
    grid-area: like;
    justify-self: center;
  }
}
