.footer__list-label {
  @media print, screen and (min-width: 0px) {
    display: flex;
    justify-content: center;
    cursor: pointer;

    &:after {
      content: '\e5cf';
      font-family: 'Material Icons';
      font-size: 2em;
      color: inherit;
    }
  }

  @media print, screen and (min-width: 992px) {
    justify-content: flex-start;
    margin-top: 4px;

    cursor: initial;

    &:after {
      content: '';
    }
  }
}
