@use "./../variables.scss";

$iconWidth: 44px / 12px * 1em;
.button_appearance_like-a-link {
  position: relative;
  padding-left: $iconWidth + variables.$X_PADDING;
  padding-right: $iconWidth + variables.$X_PADDING;
  background: rgba(169, 169, 169, 1);

  &:hover {
    background: rgba(169, 169, 169, 0.5);
  }

  .icon {
    width: $iconWidth;
    top: 0;
    right: 0;

    &:after {
      content: "\e5c8";
      color: white;
    }
  }
}
