extends ~@pug/layouts/ui-kit-layout.pug

//- components
include ~@common.blocks/containers/card-pick-room/card-pick-room.pug

block variables
  - var keywords = 'FSD, Frontend, TOXIN, образование, верстка';
  - var description = 'Карточки, используемые в базовом макете сайта TOXIN';
  - var title = 'Карточки';

block content
  main.cards-layout.ui-kit-container
    +card-pick-room#card-pick-room.cards-layout__pick-room(
      action="",
      method="get",
    )
