.entering-card {
  display: grid;
  align-items: center;
  grid:
    'title title'
    'email-field email-field'
    'password-field password-field'
    'link-btn link-btn'
    '. .' #{10px / 14px * 1em}
    'caption-of-redirect-to-registration switch-btn';
  gap: 10px / 14px * 1em;

  &__title {
    grid-area: title;
  }

  &__email-field {
    margin-top: 10px / 14px * 1em;
    grid-area: email-field;
  }

  &__password-field {
    grid-area: password-field;
  }

  &__link-btn {
    margin-top: 10px / 14px * 1em;
    grid-area: link-btn;
  }

  &__caption-of-redirect-to-registration {
    color: rgba(0, 0, 0, 1);
    grid-area: caption-of-redirect-to-registration;
  }

  &__switch-btn {
    grid-area: switch-btn;
    justify-self: end;
  }
}
