.entering-card {
  display: grid;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 1px;
  grid:
    'title title'
    '. .' #{22px / 14px * 1em}
    'email-field email-field'
    '. .' #{10px / 14px * 1em}
    'password-field password-field'
    '. .' #{20px / 14px * 1em}
    'link-btn link-btn'
    '. .' #{30px / 14px * 1em}
    'caption-of-redirect-to-registration switch-btn';

  &__title {
    line-height: 26px / 24px * 1em;
    grid-area: title;
  }

  &__email-field {
    grid-area: email-field;
  }

  &__password-field {
    grid-area: password-field;
  }

  &__link-btn {
    grid-area: link-btn;
  }

  &__caption-of-redirect-to-registration {
    color: rgba(0, 0, 0, 1);
    grid-area: caption-of-redirect-to-registration;
  }

  &__switch-btn {
    grid-area: switch-btn;
    justify-self: end;
  }
}
