extends ~@pug/layouts/main.pug

block variables
  - var keywords = 'FSD, Frontend, TOXIN, образование, верстка';
  - var description = 'Формы, используемые в базовом макете сайта TOXIN';
  - var title = 'Формы';

block header
block content
block footer
