extends ~@layouts/basic/ui-kit-layout/ui-kit-layout.pug

//- components
include ~@common.blocks/primitives/heading/heading.pug
include ~@common.blocks/primitives/form-text-field/form-text-field.pug
include ~@common.blocks/primitives/form-dropdown/form-dropdown.pug
include ~@common.blocks/primitives/form-range-slider/form-range-slider.pug
include ~@common.blocks/containers/form-checkbox-buttons/form-checkbox-buttons.pug
include ~@common.blocks/containers/form-radio-buttons/form-radio-buttons.pug
include ~@common.blocks/primitives/form-toggle/form-toggle.pug
include ~@common.blocks/primitives/form-like-button/form-like-button.pug
include ~@common.blocks/containers/form-rate-button/form-rate-button.pug
include ~@common.blocks/primitives/button/button.pug
include ~@common.blocks/specific/pagination/pagination.pug
include ~@common.blocks/containers/form-expandable-checkbox-list/form-expandable-checkbox-list.pug
include ~@common.blocks/containers/form-bullet-list/form-bullet-list.pug
include ~@common.blocks/containers/comments/comments.pug

block append variables
  -
    title = 'Формы';
    description = 'Формы, используемые в базовом макете сайта TOXIN';

block content
  form(method="get", name="main-form")
    main.form-elements-layout.ui-kit-container
      +form-text-field({ heading: { h3: 'text field' }, type: 'email', name: 'email' }).form-elements-layout__text-field-default
      +form-text-field({ heading: { h3: 'text field' }, name: 'text', value: 'This is pretty awesome', placeholder: 'Text', autofocus: 'autofocus' }).form-elements-layout__text-field-hover
      +form-dropdown('item-quantity',{ name: 'guests', heading: { h3: 'dropdown' }, isFilter: true, placeholder: 'Сколько гостей', openMod: 'apply', groups: { гости: { selectionText: 'гость', textPlural: 'гостя' }, младенцы: { selectionText: 'младенец', textPlural: 'младенцев' } }, list: { взрослые: { default: 0, min: 0, max: 1 / 0, group: 'гости' }, дети: { default: 0, min: 0, max: 1 / 0, group: 'гости' }, младенцы: { default: 0, min: 0, max: 1 / 0 } } }).form-elements-layout__dropdown
      +form-text-field({ heading: { h3: 'masked text field' }, type: 'date', name: 'masked-form-date' }).form-elements-layout__masked-text-field
      .form-elements-layout__date-dropdown
        +form-dropdown('date',{ name: 'date-1', isFilter: true, heading: { h3: 'date dropdown' } })
        +form-dropdown('date', { name: 'date-2', isFilter: true, heading: { h3: 'date dropdown' }, selectedDates: '2019-08-19'})
      +form-dropdown('date',{ name: 'filter-date', isFilter: true, heading: { h3: 'filter date dropdown' }, output: 'plural', selectedDates: '2019-08-19,2019-08-23'}).form-elements-layout__filter-date-dropdown
      +form-text-field({ heading: { h3: 'subscription text field' }, type: 'email', name: 'subscription-form-text-field', materialIcon: 'arrow_forward' }).form-elements-layout__subscription-text-field
      +form-checkbox-buttons({ heading: { h3: 'checkbox buttons' }, buttons: { 'is-smoking': { label: 'Можно курить' }, 'is-with-pets': { label: 'Можно с питомцами', checked: 'checked' }, 'is-guests': { label: 'Можно пригласить гостей (до 10 человек)', checked: 'checked' } }, isFilter: true }).form-elements-layout__checkbox-buttons
      +form-radio-buttons({ buttons: { 'is-male': { label: 'Мужчина', checked: 'checked' }, 'is-female': { label: 'Женщина' } }, isFilter: true, heading: { h3: 'radio buttons' } }).form-elements-layout__radio-buttons
      .form-elements-layout__toggle
        +heading({ h3: 'toggle' }) 
        +form-toggle({ label:'Получать спецпредложения', name:'special-offer-1', checked: true })
        +form-toggle({ label:'Получать спецпредложения', name:'special-offer-2' })
      .form-elements-layout__like-button
        .form-elements-layout__like-button-label
          +heading({ h3: 'like button' })
        +form-like-button({ name: 'likes-1', counter: '2' })
        +form-like-button({ name: 'likes-2', counter: '12', checked: 'checked' })
      .form-elements-layout__rate-button
        +form-rate-button({ heading: { h3: 'rate button' }, name: 'rate-1', rate: 4 })
        +form-rate-button({ name: 'rate-2', rate: 5 })
      +form-range-slider({ name: 'price', range: { min: 341, max: 15454 }, start: [5000, 10000], isFilter: true }).form-elements-layout__range-slider
      .form-elements-layout__button-fill
        h3.form-elements-layout__button-fill-heading buttons
        +button(type="button", value="click me")
        +button(type="button", value="click me")
      .form-elements-layout__button-empty
        +button({ type: 'bordered' })(type="button", value="click me")
        +button({ type: 'bordered' })(type="button", value="click me")
      .form-elements-layout__button-icon-link
        +button({ type: 'icon-link' })(type="button", value="click me")
        +button({ type: 'icon-link' })(type="button", value="click me")
      +button({ type: 'link' }).form-elements-layout__button-long(
        type="submit",
        value="перейти к оплате"
      )
      .form-elements-layout__pagination
        +heading({ h3: 'pagination' })
        +pagination({ total: 179, text: 'вариантов аренды', hrefPrefix: '?page=' })
      +form-dropdown('item-quantity',{ name: 'facilities-1', isFilter: true, heading: { h3: 'dropdown' }, output: 'plural', openMod: 'fold', groups: { спальни: { selectionText: 'спальня', textPlural: 'спальни' }, кровати: { selectionText: 'кровать', textPlural: 'кровати' }, 'ванные комнаты': { selectionText: 'ванная комната', textPlural: 'ванные комнаты' } }, list: { спальни: { default: 2, min: 1, max: 3 }, кровати: { default: 2, min: 1, max: 3 }, 'ванные комнаты': { default: 0, min: 0, max: 2 } } }).form-elements-layout__dropdown-default-plural
      +form-dropdown('item-quantity', { name: 'facilities-2', heading: { h3: 'dropdown' }, output: 'plural', openMod: 'fold', groups: { спальни: { selectionText: 'спальня', textPlural: 'спальни' }, кровати: { selectionText: 'кровать', textPlural: 'кровати' }, 'ванные комнаты': { selectionText: 'ванная комната', textPlural: 'ванные комнаты' } }, list: { спальни: { default: 2, min: 1, max: 3 }, кровати: { default: 2, min: 1, max: 3 }, 'ванные комнаты': { default: 0, min: 0, max: 2 } } }).form-elements-layout__dropdown-expanded-plural
      +form-dropdown('item-quantity', { name: 'guests-1', isFilter: true, heading: { h3: 'dropdown' }, placeholder: 'Сколько гостей', openMod: 'apply', groups: { гости: { selectionText: 'гость', textPlural: 'гостя' }, младенцы: { selectionText: 'младенец', textPlural: 'младенцев' } }, list: { взрослые: { default: 0, min: 0, max: 1 / 0, group: 'гости' }, дети: { default: 0, min: 0, max: 1 / 0, group: 'гости' }, младенцы: { default: 0, min: 0, max: 1 / 0 } } }).form-elements-layout__dropdown-expanded-apply
      +form-dropdown('item-quantity', { name: 'guests-2', isFilter: true, heading: { h3: 'dropdown' }, placeholder: 'Сколько гостей', openMod: 'apply', groups: { гости: { selectionText: 'гость', textPlural: 'гостя' }, младенцы: { selectionText: 'младенец', textPlural: 'младенцев' } }, list: { взрослые: { default: 2, min: 0, max: 1 / 0, group: 'гости' }, дети: { default: 1, min: 0, max: 1 / 0, group: 'гости' }, младенцы: { default: 0, min: 0, max: 1 / 0 } } }).form-elements-layout__dropdown-expanded-clear-apply
      .form-elements-layout__expandable-checkbox-list
        +form-expandable-checkbox-list({ heading: { h3: 'expandable checkbox list' }, buttons: { breakfast: { label: 'Завтрак' }, desk: { label: 'Письменный стол', checked: 'checked' }, 'feeding-chair': { label: 'Стол для кормления', checked: 'checked' }, cot: { label: 'Кроватка', checked: 'checked' }, 'tv-1': { label: 'Телевизор' }, 'shampoo-1': { label: 'Шампунь' }, 'tv-2': { label: 'Телевизор' }, 'shampoo-2': { label: 'Шампунь' } } })
        +form-expandable-checkbox-list({ heading: { h3: 'expandable checkbox list' }, buttons: { breakfast: { label: 'Завтрак' }, desk: { label: 'Письменный стол', checked: 'checked' }, 'feeding-chair': { label: 'Стол для кормления', checked: 'checked' }, cot: { label: 'Кроватка', checked: 'checked' }, 'tv-1': { label: 'Телевизор' }, 'shampoo-1': { label: 'Шампунь' }, 'tv-2': { label: 'Телевизор' }, 'shampoo-2': { label: 'Шампунь' } }, isFilter: true, checked: true})
      +form-checkbox-buttons({ heading: { h3: 'rich checkbox buttons' }, mod: "rich", buttons: { 'wide-corridor': { label: 'Широкий коридор', description: 'Ширина коридоров в номере не менее 91 см.' }, 'assistant-for-the-disabled': { label: 'Помощник для инвалидов', description: 'На 1 этаже вас встретит специалист и проводит до номера.' } }, isFilter: true }).form-elements-layout__rich-checkbox-buttons
      +form-bullet-list({ heading: { h3: 'bullet list' }, items: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']}).form-elements-layout__bullet-list
      +form-bullet-list({ mod: "rich", items: { Комфорт: { icon: 'insert_emoticon', description: 'Шумопоглощающие стены' }, Удобство: { icon: 'location_city', description: 'Окно в каждой из спален' } }}).form-elements-layout__logo-comfort
      +comments({ items: { 'comment-1': { personName: 'Мурад Сарафанов', iconPath: htmlWebpackPlugin ? require('@assets/pictures/contents/personas/1/1.png').default : undefined, date: '2020-10-21T17:00:00', content: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', likeButtonCounter: 12, isLikeButtonChecked: 'checked' } } }).form-elements-layout__comment
