@use '@thematic/main-theme.blocks/gradients.scss';

.form-checkbox-buttons {
  &_type_detailed {
    .form-checkbox-buttons__label-item {
      color: rgba(var(--color__dark-shade), 0.75);
    }
    
    .form-checkbox-buttons__description {
      color: rgba(var(--color__dark-shade), 0.5);
    }
  }

  &__button-item {
    border: var(--border);
    border-radius: var(--border-radius-size);

    &:checked {
      background: linear-gradient(180deg, white, white) padding-box, gradients.primary(1) border-box;
    }

    &:before {
      border-image: gradients.primary(1) 2;
    }
  }

  &__label-item {
    color: rgba(var(--color__dark-shade), 0.5);
  }
}
