.apply-control {
  display: flex;
  justify-content: space-between;

  @media print, screen and (color) {
    font: var(--font__h3);
  }

  &__clear-btn,
  &__apply-btn {
    padding: 0;
    border: 0;
    background-color: inherit;
    font: inherit;
    cursor: pointer;
  }

  &__clear-btn {
    text-transform: uppercase;

    @media print, screen and (color) {
      color: rgba(var(--color__primary), 1);
    }

    &_hidden {
      visibility: hidden;
    }
  }

  &__apply-btn {
    text-transform: uppercase;

    @media print, screen and (color) {
      color: rgba(var(--color__primary), 1);
    }
  }
}
