//- 
  Just wrapped apply and reset buttons
  Tip: mixin also uses 'and attributes'(&attributes)
mixin apply-control
  .apply-control&attributes(attributes)
    input.apply-control__clear-btn.apply-control__clear-btn_hidden(
      type="button",
      value="очистить"
    )
    input.apply-control__apply-btn(type="button", value="применить")
