@use '@themes' as theme;

.apply-control {
  display: flex;
  justify-content: space-between;

  @media print, screen and (color) {
    font: theme.get-css-var(typography, h3);
  }

  &__clear-btn,
  &__apply-btn {
    padding: 0;
    border: 0;
    background-color: inherit;
    font: inherit;
    cursor: pointer;
  }

  &__clear-btn {
    text-transform: uppercase;

    @media print, screen and (color) {
      color: rgb(theme.get-css-var(palette, primary, main));
    }

    &_hidden {
      visibility: hidden;
    }
  }

  &__apply-btn {
    text-transform: uppercase;

    @media print, screen and (color) {
      color: rgb(theme.get-css-var(palette, primary, main));
    }
  }
}
