//- Just wrapped apply and reset buttons
//- class: class for component bem mix: such as positioning functionality
mixin apply-control
  .apply-control(class=attributes.class)
    input.apply-control__clear-btn-js.apply-control__clear-btn-js_isHidden(
      type="button",
      value="очистить"
    )
    input.apply-control__apply-btn-js(type="button", value="применить")
