//- Just wrapped apply and reset buttons
mixin apply-control
  .apply-control&attributes(attributes)
    input.apply-control__clear-btn-js.apply-control__clear-btn-js_isHidden(
      type="button",
      value="очистить"
    )
    input.apply-control__apply-btn-js(type="button", value="применить")
