.form-expandable-checkbox-list__expander-input {
  display: none;
  
  &:checked {
    & + .form-expandable-checkbox-list__expand-icon:after {
      content: "\e5ce";
    }

    & ~ .form-expandable-checkbox-list__list {
      max-height: 32em;
    }
  }
}
