@use '@themes' as theme;

.room-definition-card {
  $medium-gap: 20.56px / 14px * 1em;
  $large-gap: 30px / 14px * 1em;

  display: grid;
  grid:
    'room-title day-payment'
    '. .' #{$medium-gap}
    'datepicker-fieldset datepicker-fieldset'
    '. .' #{$medium-gap}
    'guests-dropdown guests-dropdown'
    '. .' #{$medium-gap}
    'payment-rates payment-rates'
    '. .' #{$large-gap}
    'total-payment total-payment'
    '. .' #{20px / 14px * 1em}
    'submit-btn submit-btn' / 1fr 1fr;

  &__room-title {
    grid-area: room-title;
    place-self: start;
  }

  &__room-number {
    display: inline-block;
  }

  &__room-grade {
    display: inline-block;
    margin-left: 5px / 14px * 1em;

    @media print, screen and (color) {
      color: rgb(theme.get-css-var(palette, primary, main));
    }
  }

  &__day-payment {
    line-height: 18px / 14px * 1em;
    grid-area: day-payment;
    place-self: end;

    @media print, screen and (color) {
      color: rgb(theme.get-css-var(palette, text, caption));
    }
  }

  &__datepicker-fieldset {
    margin: 0;
    padding: 0;
    border-width: 0;
    line-height: initial;
    grid-area: datepicker-fieldset;
  }

  &__datepicker {
    display: grid;
    grid: 'arrival-date-dropdown . departure-date-dropdown' auto / 1fr #{20px / 14px * 1em} 1fr;
  }

  &__arrival-date-dropdown {
    grid-area: arrival-date-dropdown;
  }

  &__departure-date-dropdown {
    grid-area: departure-date-dropdown;
  }

  &__guests-dropdown {
    grid-area: guests-dropdown;
  }

  &__payment-rates {
    display: grid;
    grid-area: payment-rates;
    grid-template-columns: auto;
    grid-row-gap: 15px / 14px * 1em;
  }

  &__total-day-payment,
  &__services-payment,
  &__additional-services-payment {
    margin: 0;
  }

  &__payment-item,
  &__payment-tooltip {
    line-height: 18px / 14px * 1em;
  }

  &__payment-item {
    display: grid;
    justify-content: space-between;
    grid-template-columns: #{215px / 319px * 100%} auto;

    &_col-template_with-tooltip {
      grid-template-columns: #{215px / 319px * 100%} 1fr auto;
    }
  }

  &__payment-tooltip {
    margin-left: 5px / 14px * 1em;
  }

  &__total-payment {
    display: grid;
    align-items: baseline;
    margin: 0;
    font: theme.get-css-var(typography, h2);
    grid-area: total-payment;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 5px / 19px * 1em;

    @media print, screen and (color) {
      color: rgb(theme.get-css-var(palette, text, primary));
    }
  }

  &__text-separator {
    height: 1em;
    border-bottom: 1px dashed black;

    @media print, screen and (color) {
      border-bottom-color: rgb(theme.get-css-var(palette, common, main) / 0.25);
    }
  }

  &__submit-btn {
    grid-area: submit-btn;
  }
}
