//-
  range?: boolean | number - lib argument, enable range functionality
  altFields?: string - selector of bonded alt fields
  Tip: mixin also uses 'and attributes'(&attributes)
mixin card-datepicker({ range = false, altFields = undefined } = {})
  .datepicker-here.card-datepicker(
    data-range=range ? `${range}` : undefined,
    data-multiple-dates-separator=" - ",
    data-alt-fields=altFields
  )&attributes(attributes)
