.form-text-field {
  width: 100%;

  &__heading {
    margin-bottom: 5px / 14px * 1em;
  }

  &__field {
    position: relative;
    display: flex;
    min-width: 2em;
    min-height: 2em;
    height: 44px / 14px * 1em;
    border: 1px solid rgb(0 0 0 / 0.5);
    border-radius: var(--border-radius-size);
    color: rgb(0 0 0 / 0.5);
    text-indent: 15px / 14px * 1em;

    @media print, screen and (color) {
      border: var(--border);
      color: rgb(var(--main-common-color) / 0.25);
    }

    &:hover,
    &:focus-within {
      border-color: rgb(0 0 0 / 1);
      color: rgb(0 0 0 / 1);

      @media print, screen and (color) {
        border: var(--border-hover);
        color: rgb(var(--main-common-color) / 0.75);
      }
    }
  }

  &__input {
    flex: auto;
    padding: 0 1em 0 0;
    outline: none;
    border: 0;
    background-color: inherit;
    color: inherit;
    text-indent: inherit;
    font: inherit;

    &::placeholder {
      color: inherit;
    }

    &_type_with-date {
      cursor: text;

      &::-webkit-datetime-edit-fields-wrapper {
        text-indent: 0;
        text-transform: uppercase;
      }

      &::-webkit-datetime-edit-day-field,
      &::-webkit-datetime-edit-month-field,
      &::-webkit-datetime-edit-year-field {
        padding: 0;
      }

      &::-webkit-calendar-picker-indicator {
        display: none;
      }
    }
  }
}
