.form-text-field {
  width: 100%;

  &__field {
    position: relative;
    display: flex;
    min-width: 2em;
    min-height: 2em;
    height: 44px / 14px * 1em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: var(--border-radius-size);
    color: rgba(0, 0, 0, 0.5);
    text-indent: 15px / 14px * 1em;

    @media print, screen and (color) {
      border: var(--border);
      color: rgba(var(--color__dark-shade), 0.25);
    }

    &:hover,
    &:focus-within {
      border-color: rgba(0, 0, 0, 1);
      color: rgba(0, 0, 0, 1);

      @media print, screen and (color) {
        border: var(--border-hover);
        color: rgba(var(--color__dark-shade), 0.75);
      }
    }
  }

  &__input {
    flex: auto;
    outline: none;
    color: inherit;
    text-indent: inherit;
    font: inherit;

    &_type_with-date {
      cursor: text;

      &::-webkit-datetime-edit-fields-wrapper {
        text-indent: 0;
        text-transform: uppercase;
      }

      &::-webkit-datetime-edit-day-field,
      &::-webkit-datetime-edit-month-field,
      &::-webkit-datetime-edit-year-field {
        padding: 0;
      }

      &::-webkit-calendar-picker-indicator {
        display: none;
      }
    }
  }
}
