@use '@utils/devTools/styles/mixins.scss';

.donut-chart {
  $chart-width: #{120px / 14px * 1em};

  display: grid;
  grid:
    'heading heading'
    'chart bullet-list' 1fr / #{$chart-width} 1fr;
  grid-column-gap: #{30px / 14px * 1em};

  &__heading {
    margin-bottom: 22px / 14px * 1em;
    grid-area: heading;
  }

  &__chart {
    $donut-size: 120px / 14px * 1em;

    position: relative;
    width: $donut-size;
    height: $donut-size;
    border-radius: 50%;
    grid-area: chart;
  }

  &__slice {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid transparent;
    border-radius: 50%;
    transform: scale(-1, 1);

    &:nth-of-type(1) {
      background: linear-gradient(180deg, white, white) padding-box,
        conic-gradient(
            transparent 0deg var(--start),
            #ffe39c var(--start),
            #ffba9c var(--end),
            transparent var(--end)
          )
          border-box;
    }
    &:nth-of-type(2) {
      background: linear-gradient(180deg, white, white) padding-box,
        conic-gradient(
            transparent 0deg var(--start),
            #6fcf97 var(--start),
            #66d2ea var(--end),
            transparent var(--end)
          )
          border-box;

      @media print, screen and (color) {
        background: linear-gradient(180deg, white, white) padding-box,
          conic-gradient(
              transparent 0deg var(--start),
              rgba(var(--color__secondary), 1) var(--start),
              rgba(var(--color__secondary_additional), 1) var(--end),
              transparent var(--end)
            )
            border-box;
      }
    }
    &:nth-of-type(3) {
      background: linear-gradient(180deg, white, white) padding-box,
        conic-gradient(
            transparent 0deg var(--start),
            #bc9cff var(--start),
            #8ba4f9 var(--end),
            transparent var(--end)
          )
          border-box;

      @media print, screen and (color) {
        background: linear-gradient(180deg, white, white) padding-box,
          conic-gradient(
              transparent 0deg var(--start),
              rgba(var(--color__primary), 1) var(--start),
              rgba(var(--color__primary_additional), 1) var(--end),
              transparent var(--end)
            )
            border-box;
      }
    }
    &:nth-of-type(4) {
      background: linear-gradient(180deg, white, white) padding-box,
        conic-gradient(
            transparent 0deg var(--start),
            #919191 var(--start),
            #3d4975 var(--end),
            transparent var(--end)
          )
          border-box;
    }
    &:nth-of-type(5) {
      background: linear-gradient(180deg, white, white) padding-box,
        conic-gradient(
            transparent 0deg var(--start),
            #f00 var(--start),
            #460000 var(--end),
            transparent var(--end)
          )
          border-box;
    }
  }

  &__counter {
    width: 80%;

    @media print, screen and (color) {
      color: rgba(var(--color__primary), 1);
    }

    @include mixins.center-abs-position();
  }

  &__bullet-list {
    align-self: end;
    grid-area: bullet-list;
  }
}
