mixin form-dropdown__link-btns
  div.form-dropdown__link-btns
    input.form-dropdown__clear-btn-js(type="button" value="очистить")
    input.form-dropdown__apply-btn-js(type="button" value="применить")
