.footer__icons-list {
  @media print, screen and (min-width: 0px) {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
  }

  @media print, screen and (min-width: 992px) {
    grid-column-gap: 20px / 14px * 1em;
  }
}
