.form-radio-buttons {
  --main-color: gray;
  --main-active-color: black;
  --additional-active-color: silver;

  &__fieldset {
    width: fit-content;
    display: grid;
    grid: auto / auto auto;
    gap: 20px / 14px * 1em;
  }

  &__item {
    display: inline-grid;
    grid-template-columns: auto 1fr;
    place-items: center start;
    position: relative;
  }

  &__button-item,
  &__button-icon-item {
    width: 20px / 14px * 1em;
    height: 20px / 14px * 1em;
  }

  &__button-item {
    appearance: none;
    margin-right: 10px / 14px * 1em;
    border-radius: 50%;
    cursor: pointer;

    &:checked {
      & + .form-radio-buttons__button-icon-item {
        & .form-radio-buttons__button-icon-ring {
          stroke: rgba(var(--main-active-color), 1);
        }
        & .form-radio-buttons__button-icon-circle {
          opacity: 1;
        }
      }
    }
  }

  &__button-icon-item {
    position: absolute;
    pointer-events: none;
  }
  &__button-icon-ring {
    stroke: rgba(var(--main-color), 0.25);
    fill: white;
  }
  &__button-icon-circle {
    fill: var(--SVG-gradient-ID);
    opacity: 0;
  }
}
