@use '@themes/main/gradients.scss';

.form-radio-buttons {
  --main-color: gray;
  --main-active-color: black;
  --additional-active-color: silver;

  @media print, screen and (color) {
    --main-color: var(--main-common-color);
    --main-active-color: var(--main-primary-color);
    --additional-active-color: var(--dark-primary-color);
  }

  &__heading {
    margin-bottom: 16px / 14px * 1em;
  }

  &__fieldset {
    display: grid;
    margin: 0;
    padding: 0;
    width: fit-content;
    border-width: 0;
    line-height: initial;
    grid: auto / auto auto;
    gap: 20px / 14px * 1em;
  }

  &__item {
    position: relative;
    display: inline-grid;
    grid-template-columns: auto 1fr;
    place-items: center start;
  }

  &__button-item,
  &__button-icon-item {
    width: 20px / 14px * 1em;
    height: 20px / 14px * 1em;
  }

  &__button-item {
    margin: 0;
    margin-right: 10px / 14px * 1em;
    border-radius: 50%;
    font: inherit;
    cursor: pointer;
    appearance: none;

    &:checked {
      & + .form-radio-buttons__button-icon-item {
        & .form-radio-buttons__button-icon-ring {
          stroke: rgb(var(--main-active-color) / 100%);
        }

        & .form-radio-buttons__button-icon-circle {
          opacity: 100%;
        }
      }

      & ~ .form-radio-buttons__label-item {
        color: inherit;
      }
    }
  }

  &__button-icon-item {
    position: absolute;
    pointer-events: none;
  }

  &__button-icon-ring {
    fill: white;
    stroke: rgb(var(--main-color) / 25%);
  }

  &__button-icon-circle {
    opacity: 0%;
    fill: var(--SVG-gradient-ID);
  }

  &__label-item {
    cursor: pointer;
    user-select: none;

    @media print, screen and (color) {
      color: rgb(var(--main-common-color) / 50%);
    }
  }
}
