@use '@themes/main/gradients.scss';

.form-radio-buttons {
  --main-color: gray;
  --main-active-color: black;
  --additional-active-color: silver;

  @media print, screen and (color) {
    --main-color: var(--color__dark-shade);
    --main-active-color: var(--color__primary);
    --additional-active-color: var(--color__primary_additional);
  }

  &__fieldset {
    display: grid;
    width: fit-content;
    grid: auto / auto auto;
    gap: 20px / 14px * 1em;
  }

  &__item {
    position: relative;
    display: inline-grid;
    grid-template-columns: auto 1fr;
    place-items: center start;
  }

  &__button-item,
  &__button-icon-item {
    width: 20px / 14px * 1em;
    height: 20px / 14px * 1em;
  }

  &__button-item {
    margin: 0;
    margin-right: 10px / 14px * 1em;
    border-radius: 50%;
    font: inherit;
    cursor: pointer;
    appearance: none;

    &:checked {
      & + .form-radio-buttons__button-icon-item {
        & .form-radio-buttons__button-icon-ring {
          stroke: rgba(var(--main-active-color), 1);
        }
        & .form-radio-buttons__button-icon-circle {
          opacity: 1;
        }
      }

      & ~ .form-radio-buttons__label-item {
        color: inherit;
      }
    }
  }

  &__button-icon-item {
    position: absolute;
    pointer-events: none;
  }
  &__button-icon-ring {
    fill: white;
    stroke: rgba(var(--main-color), 0.25);
  }
  &__button-icon-circle {
    opacity: 0;
    fill: var(--SVG-gradient-ID);
  }

  &__label-item {
    cursor: pointer;
    user-select: none;

    @media print, screen and (color) {
      color: rgba(var(--color__dark-shade), 0.5);
    }
  }
}
