.room-card {
  display: grid;
  width: 270px / 14px * 1em;
  border-radius: var(--border-radius-size);
  background-color: white;
  grid:
    'slideshow'
    'room-data';

  @media print, screen and (color) {
    box-shadow: 0 #{10px / 14px * 1em} #{20px / 14px * 1em}
      rgba(var(--color__dark-shade), 0.05);
  }

  &__slideshow {
    grid-area: slideshow;
  }

  &__room-data {
    display: grid;
    padding: #{20px / 14px * 1em} #{16px / 14px * 1em} #{9px / 14px * 1em} #{20px /
      14px * 1em};
    grid-area: room-data;
  }

  &__data-row {
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px / 14px * 1em;
    grid-template-columns: auto auto;
    grid-column-gap: 1em;

    &:not(:last-child) {
      padding-bottom: 8px / 14px * 1em;
      border-bottom: 1px solid black;

      @media print, screen and (color) {
        border-bottom-color: rgba(var(--color__dark-shade), 0.1);
      }
    }

    &:last-child {
      padding-top: 4px / 14px * 1em;
    }
  }

  &__room-title {
    display: flex;
    align-items: center;
    align-self: baseline;
  }

  &__room-number {
    line-height: 24px / 19px * 1em;

    &::first-letter {
      font-size: 14px / 19px * 1em;
    }
  }

  &__room-grade {
    display: inline;
    margin-left: 5px / 14px * 1em;

    @media print, screen and (color) {
      color: rgba(var(--color__primary), 1);
    }
  }

  &__day-payment {
    align-self: baseline;
    font-size: 1em;

    @media print, screen and (color) {
      color: rgba(var(--color__dark-shade), 0.5);
    }
  }

  &__room-rating {
    margin-top: 5px / 14px * 1em;
  }

  &__room-comments {
    margin-top: 0.5em;
    margin-right: 4px / 14px * 1em;
    font-size: 1em;

    @media print, screen and (color) {
      color: rgba(var(--color__dark-shade), 0.5);
    }
  }
}
