.footer {
  background-color: white;

  @media print, screen and (min-width: 0) {
    display: grid;
    width: 100%;
    grid: 'widgets' 'copyright-bar';
  }

  &_type_creative {
    @media print, screen and (min-width: 0) {
      padding: #{120px / 1440px * 100%} #{104px / 1440px * 100%} #{116px / 1440px * 100%} #{104px / 1440px *
        100%};
      width: 768px / 1440px * 100%;
      grid:
        'logo'
        'copyright'
        'icons';
      grid-row-gap: 20px / 14px * 1em;
      justify-items: center;
    }

    @media print, screen and (color) {
      box-shadow: 0 #{10px / 14px * 1em} #{20px / 14px * 1em} 0 rgba(var(--color__dark-shade), 0.05);
    }
  }

  &__widgets {
    border: solid black;
    border-width: 1px 0;

    @media print, screen and (min-width: 0) {
      display: grid;
      padding: #{100px / 14px * 1em} #{140px / 1440px * 100%};
      grid-area: widgets;
      grid: 'logo' 'description' 'navigation' 'about-us-section' 'support' 'subscription';
      grid-row-gap: 16px / 14px * 1em;
      justify-items: center;
    }

    @media print, screen and (min-width: 992px) {
      $padding: 140px;
      $description-width: 260px / (1440px - $padding * 2) * 100%;
      $navigation-gap-width: 40px / (1440px - $padding * 2) * 100%;
      $about-gap-width: 57px / (1440px - $padding * 2) * 100%;
      $support-gap-width: 92px / (1440px - $padding * 2) * 100%;
      $subscription-gap-width: 54px / (1440px - $padding * 2) * 100%;

      grid:
        'logo . navigation . about-us-section . support . subscription' auto
        'description . navigation . about-us-section . support . subscription' 1fr / #{$description-width} #{$navigation-gap-width} auto #{$about-gap-width} auto #{$support-gap-width} auto #{$subscription-gap-width} auto;
      justify-items: start;
    }

    @media print, screen and (color) {
      border-color: rgba(var(--color__dark-shade), 0.1);
    }
  }

  &__logo {
    @media print, screen and (min-width: 0) {
      align-self: self-start;
      font-size: 12px / 14px * 1em;
      grid-area: logo;
    }
  }

  &__description {
    @media print, screen and (min-width: 0) {
      grid-area: description;
    }

    @media print, screen and (color) {
      color: rgba(var(--color__dark-shade), 0.75);
    }
  }

  &__navigation {
    @media print, screen and (min-width: 0) {
      grid-area: navigation;
    }
  }

  &__list-checkbox {
    @media print, screen and (min-width: 0) {
      display: none;

      & ~ .footer__list {
        display: none;
      }

      &:checked {
        & + .footer__list-label {
          &::after {
            content: '\e5ce';
          }
        }

        & ~ .footer__list {
          display: grid;
        }
      }
    }

    @media print, screen and (min-width: 992px) {
      & ~ .footer__list {
        display: grid;
      }

      &:checked {
        & + .footer__list-label {
          &::after {
            content: '';
          }
        }
      }
    }
  }

  &__list-label-heading {
    @media print, screen and (min-width: 0) {
      display: flex;
      justify-content: center;
    }

    @media print, screen and (min-width: 992px) {
      justify-content: flex-start;
      margin-top: 4px;
    }
  }

  &__list-label {
    @media print, screen and (min-width: 0) {
      display: inline-flex;
      cursor: pointer;

      &::after {
        color: inherit;
        content: '\e5cf';
        font-size: 2em;
        font-family: 'Material Icons';
      }
    }

    @media print, screen and (min-width: 992px) {
      cursor: auto;

      &::after {
        display: none;
      }
    }
  }

  &__list {
    @media print, screen and (min-width: 0) {
      display: grid;
      margin-top: 20px / 14px * 1em;
      text-align: center;
      grid-row-gap: 21px / 14px * 1em;
    }

    @media print, screen and (min-width: 992px) {
      text-align: left;
    }

    @media print, screen and (color) {
      color: rgba(var(--color__dark-shade), 0.5);
    }
  }

  &__list-item {
    @media print, screen and (min-width: 0) {
      width: 100%;
      line-height: 18px / 14px * 1em;
    }
  }

  &__about-us-section {
    @media print, screen and (min-width: 0) {
      grid-area: about-us-section;
    }
  }

  &__support {
    @media print, screen and (min-width: 0) {
      grid-area: support;
    }
  }

  &__subscription {
    @media print, screen and (min-width: 0) {
      grid-area: subscription;
    }
  }

  &__copyright-bar {
    @media print, screen and (min-width: 0) {
      display: grid;
      justify-content: center;
      padding: #{24px / 14px * 1em} #{140px / 1440px * 100%} #{16px / 14px * 1em} #{140px / 1440px *
        100%};
      grid-area: copyright-bar;
      grid: 'copyright' 'icons';
    }

    @media print, screen and (min-width: 992px) {
      justify-content: space-between;
      grid: 'copyright icons';
    }

    @media print, screen and (color) {
      box-shadow: 0 #{10px / 14px * 1em} #{20px / 14px * 1em} 0 rgba(var(--color__dark-shade), 0.05);
    }
  }

  &__copyright {
    @media print, screen and (min-width: 0) {
      grid-area: copyright;
    }
  }

  &__icons {
    @media print, screen and (min-width: 0) {
      width: 100%;
      grid-area: icons;
    }
  }

  &__icons-list {
    @media print, screen and (min-width: 0) {
      display: grid;
      justify-content: center;
      grid-auto-flow: column;
      grid-column-gap: 20px / 14px * 1em;
    }
  }

  &__description-aligner {
    line-height: 24px / 14px * 1em;
  }
}
