.form-expandable-checkbox-list__expander {
  & > input {
    display: none;

    &:checked {
      & + label:after {
        content: "\e5ce";
      }
      & ~ .form-expandable-checkbox-list__list {
        max-height: 16rem;
      }
    }
  }

  //nullify checkbox-buttons' default margin-top
  .form-checkbox-buttons__list {
    margin-top: 2px;
  }
}
