@use '@utils/devTools/styles/mixins.scss';
@use '@themes/main/gradients.scss';

.form-bullet-list {
  display: grid;
  grid:
    'heading' auto
    'list' 1fr /1fr;

  &_list-style_with-material-icon {
    .form-bullet-list__list {
      grid-row-gap: 20px / 14px * 1em;
    }

    .form-bullet-list__item {
      grid:
        'icon label' auto
        'icon description' auto / auto 1fr;
      font-weight: 700;

      &:not(:last-child) {
        padding-bottom: 20px / 14px * 1em;
        border-bottom: 1px solid black;

        @media print, screen and (color) {
          border-bottom: 1px solid rgba(var(--color__dark-shade), 0.1);
        }
      }

      &:before {
        content: attr(data-icon);
        width: initial;
        height: initial;
        grid-area: icon;
        align-self: center;
        font-family: 'Material Icons';
        font-size: 48px / 14px * 1em;
        line-height: 1em;
        background: transparent;

        @media print, screen and (color) {
          @include mixins.gradientFont(gradients.primary(1));
        }
      }

      .form-bullet-list__description {
        grid-area: description;
        font-weight: 400;
      }
    }
  }

  &__heading {
    grid-area: heading;
  }

  &__list {
    grid-area: list;
    display: grid;
    grid-row-gap: 10px / 14px * 1em;

    &_row-gap_none {
      grid-row-gap: initial;
    }
  }

  &__item {
    display: grid;
    grid: 'icon content';
    grid-column-gap: 10px / 14px * 1em;
    justify-content: start;
    align-items: baseline;

    &:before {
      content: '';
      display: inline-block;
      width: 10px / 14px * 1em;
      height: 10px / 14px * 1em;
      background: rgba(0, 0, 0, 1);
      border-radius: 100%;

      @media print, screen and (color) {
        background: rgba(var(--color__dark-shade), 0.25);
      }
    }

    &_text-indent_small {
      grid-column-gap: 5px / 14px * 1em;
    }

    &_color_main-theme {
      &:nth-child(1) {
        &:before {
          @media print, screen and (color) {
            background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
          }
        }
      }
      &:nth-child(2) {
        &:before {
          @media print, screen and (color) {
            background: gradients.secondary(1);
          }
        }
      }
      &:nth-child(3) {
        &:before {
          @media print, screen and (color) {
            background: gradients.primary(1);
          }
        }
      }
      &:nth-child(4) {
        &:before {
          @media print, screen and (color) {
            background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
          }
        }
      }
      &:nth-child(5) {
        &:before {
          @media print, screen and (color) {
            background: linear-gradient(180deg, #ff0000 0%, #460000 100%);
          }
        }
      }
    }
  }
}
