.form-rate-button__rating {
  display: inline;
  
  //after selected by hover: filled
  & > .material-icon:hover:after,
  & > .material-icon:hover ~ .material-icon:after {
    content: "\f0ec";
  }

  //before selected by hover: filled
  & > .form-rate-button__button-item:checked + .material-icon:hover:after,
  & > .form-rate-button__button-item:checked + .material-icon:hover ~ .material-icon:after,
  & > .form-rate-button__button-item:checked ~ .material-icon:hover:after,
  & > .form-rate-button__button-item:checked ~ .material-icon:hover ~ .material-icon:after,
  & > .material-icon:hover ~ .form-rate-button__button-item:checked ~ .material-icon:after {
    content: "\f0ec";
  }
}
