input {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: inherit;
}
input[type='text'] {
  padding-right: 1em;
}
input[type='checkbox'],
input[type='radio'],
input[type='button'] {
  cursor: pointer;
}
button,
input {
  font: inherit;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}
p {
  margin: 0;
}
cite {
  font-style: normal;
}
fieldset {
  margin: 0;
  padding: 0;
  border-width: 0;
  line-height: initial;
}
