@use "./../../colors.scss";

.form-field {
  color: map-get(colors.$THEME_COLORS, color__dark-shade_25);
  border: var(--border);
  border-radius: var(--border-radius-size);

  &:hover,
  &:focus,
  &:focus-within {
    color: map-get(colors.$THEME_COLORS, color__dark-shade_75);
    border: var(--border-hover);
  }
}
