@use '@themes/main/gradients.scss';

.datepicker-card {
  /* lib redefinition */
  .datepicker-inline {
    width: 320px / 14px * 1em;
  }

  .datepicker {
    padding: 20px / 14px * 1em;
    width: initial;
    border-radius: var(--border-radius-size);
    font: inherit;

    @media print, screen and (color) {
      border: var(--border);
      box-shadow: 0 #{10px / 14px * 1em} #{20px / 14px * 1em}
        rgb(var(--main-common-color) / 0.05);
    }
  }

  .datepicker--nav,
  .datepicker--content {
    padding: 0;
  }

  .datepicker--nav {
    min-height: initial;
    border-bottom: 0;
  }

  .datepicker--nav-title {
    @media print, screen and (color) {
      color: rgb(var(--main-common-color) / 1);
      font: var(--h2-font);
    }

    i {
      color: inherit;
    }
  }

  .datepicker--nav-action {
    width: initial;
    border-radius: 0;
    font-size: 24px / 14px * 1em;
    font-family: 'Material Icons';

    @media print, screen and (color) {
      color: rgb(var(--main-primary-color) / 1);
    }
  }

  .datepicker--content {
    margin-top: 30px / 14px * 1em;

    @media print, screen and (color) {
      font: var(--h3-font);
    }
  }

  .datepicker--days-names {
    margin: 0;
  }

  .datepicker--cell,
  .datepicker--day-name {
    height: 40px / 12px * 1em;
    text-transform: none;
    font: inherit;
  }

  .datepicker--day-name {
    @media print, screen and (color) {
      color: rgb(var(--main-primary-color) / 1);
    }
  }

  .datepicker--cell {
    @media print, screen and (color) {
      color: rgb(var(--main-common-color) / 0.5);
    }

    &.-other-month-,
    &.-other-decade-,
    &.-disabled- {
      @media print, screen and (color) {
        color: rgb(var(--main-common-color) / 0.25);
      }
    }

    &.-current-,
    &.-selected-,
    &.-selected-.-focus-,
    &.-selected-.-current- {
      border-radius: 100%;

      @media print, screen and (color) {
        color: white;
      }
    }

    &.-current- {
      @media print, screen and (color) {
        background: gradients.secondary(1);
      }
    }

    &.-selected-,
    &.-selected-.-focus-,
    &.-selected-.-current- {
      @media print, screen and (color) {
        background: gradients.primary(1);
      }
    }

    &.-in-range-,
    &.-current-.-in-range- {
      @media print, screen and (color) {
        background: gradients.primary(0.25);
        color: rgb(var(--main-common-color) / 0.5);
      }
    }

    &.-current-.-in-range- {
      border-radius: 0;
    }

    &.-range-from-,
    &.-range-to- {
      border: 0;
      border-radius: 100%;

      @media print, screen and (color) {
        background: gradients.primary(1);
      }
    }

    &.-range-from-::before,
    &.-range-to-::before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      width: 50%;
      content: '';

      @media print, screen and (color) {
        background: gradients.primary(0.25);
      }
    }

    &.-range-from-::before {
      right: 0;
    }

    &.-range-to-::before {
      left: 0;
    }

    &.-range-from-.-range-to-::before {
      @media print, screen and (color) {
        background: transparent;
      }
    }
  }

  &__apply-control {
    margin-top: 20px / 12px * 1em;
  }
}
