@use '@themes' as theme;

.datepicker-card {
  /* lib redefinition */
  .datepicker-inline {
    width: 320px / 14px * 1em;
  }

  .datepicker {
    padding: 20px / 14px * 1em;
    width: initial;
    border-radius: theme.get-css-var(border, radius);
    font: inherit;

    @media print, screen and (color) {
      border: theme.get-css-var(border, main);
      box-shadow: theme.get-css-var(shadows, 2);
    }
  }

  .datepicker--nav,
  .datepicker--content {
    padding: 0;
  }

  .datepicker--nav {
    min-height: initial;
    border-bottom: 0;
  }

  .datepicker--nav-title {
    @media print, screen and (color) {
      color: rgb(theme.get-css-var(palette, text, primary));
      font: theme.get-css-var(typography, h2);
    }

    i {
      color: inherit;
    }
  }

  .datepicker--nav-action {
    width: initial;
    border-radius: 0;
    font-size: 24px / 14px * 1em;
    font-family: 'Material Icons';

    @media print, screen and (color) {
      color: rgb(theme.get-css-var(palette, primary, main));
    }
  }

  .datepicker--content {
    margin-top: 30px / 14px * 1em;

    @media print, screen and (color) {
      font: theme.get-css-var(typography, h3);
    }
  }

  .datepicker--days-names {
    margin: 0;
  }

  .datepicker--cell,
  .datepicker--day-name {
    height: 40px / 12px * 1em;
    text-transform: none;
    font: inherit;
  }

  .datepicker--day-name {
    @media print, screen and (color) {
      color: rgb(theme.get-css-var(palette, primary, main));
    }
  }

  .datepicker--cell {
    @media print, screen and (color) {
      color: rgb(theme.get-css-var(palette, text, caption));
    }

    &.-other-month-,
    &.-other-decade-,
    &.-disabled- {
      @media print, screen and (color) {
        color: rgb(theme.get-css-var(palette, text, placeholder));
      }
    }

    &.-current-,
    &.-selected-,
    &.-selected-.-focus-,
    &.-selected-.-current- {
      border-radius: 100%;

      @media print, screen and (color) {
        color: white;
      }
    }

    &.-current- {
      @media print, screen and (color) {
        background: theme.get-css-var(gradients, secondary, main);
      }
    }

    &.-selected-,
    &.-selected-.-focus-,
    &.-selected-.-current- {
      @media print, screen and (color) {
        background: theme.get-css-var(gradients, primary, main);
      }
    }

    &.-in-range-,
    &.-current-.-in-range- {
      @media print, screen and (color) {
        background: theme.get-css-var(gradients, primary, focus);
        color: rgb(theme.get-css-var(palette, text, caption));
      }
    }

    &.-current-.-in-range- {
      border-radius: 0;
    }

    &.-range-from-,
    &.-range-to- {
      border: 0;
      border-radius: 100%;

      @media print, screen and (color) {
        background: theme.get-css-var(gradients, primary, main);
      }
    }

    &.-range-from-::before,
    &.-range-to-::before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      width: 50%;
      content: '';

      @media print, screen and (color) {
        background: theme.get-css-var(gradients, primary, focus);
      }
    }

    &.-range-from-::before {
      right: 0;
    }

    &.-range-to-::before {
      left: 0;
    }

    &.-range-from-.-range-to-::before {
      @media print, screen and (color) {
        background: transparent;
      }
    }
  }

  &__apply-control {
    margin-top: 20px / 12px * 1em;
  }
}
