.footer_type_creative {
  @media print, screen and (min-width: 0px) {
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    width: 768px / 1440px * 100%;
    padding-top: 120px / 14px * 1em;
    padding-bottom: 112px / 14px * 1em;
    grid:
      'logo'
      'copyright'
      'icons';
    grid-row-gap: 20px / 14px * 1em;
    justify-items: center;
  }
}
