@use '@thematic/main-theme.blocks/gradients.scss';

.form-radio-buttons {
  --main-color: var(--color__dark-shade);
  --main-active-color: var(--color__primary);
  --additional-active-color: var(--color__primary_additional);

  &__button-item {
    &:checked {
      & ~ .form-radio-buttons__label-item {
        color: inherit;
      }
    }
  }

  &__label-item {
    color: rgba(var(--color__dark-shade), 0.5);
  }
}
