.form-dropdown__expand-icon {
  font-family: "Material Icons";
  font-size: 1rem;
  position: absolute;
  right: 0;
  height: 100%;
  width: 44px/14.4px+0vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  text-indent: initial;
}
