.footer__list {
  @media print, screen and (min-width: 0px) {
    display: grid;
    grid-row-gap: 1.571428571428571em;
    justify-items: center;
    margin-top: 24px / 14px * 1em;
  }
  @media print, screen and (min-width: 992px) {
    align-content: flex-start;
    justify-items: start;
  }
}
