//- mod: "filled" | "bordered" | "icon-link" | "link"
mixin button({ mod = 'filled' } = {})
  -
    const modClass = `button_is${mod[0].toUpperCase()}${mod.slice(1)}`;
  button.button(class=modClass)&attributes(attributes)= attributes.value
    if mod === "link"
      .icon
