//- type: "filled" | "bordered" | "icon-link" | "link"
mixin button({ type = 'filled' } = {})
  -
    const typeClass = `button_type-${type}`;
  button.button(class=typeClass)&attributes(attributes)= attributes.value
    if type === "link"
      .icon
