//-
  tag?: 'button' | 'a'
  text: string - inner text of button
  appearance?: 'filled' | 'bordered' | 'icon-link' | 'link'
  Tip: mixin also uses 'and attributes'(&attributes)
mixin button({ tag = 'button', text = '', appearance = 'filled' } = {})
  -
    const appearanceClass = `button_appearance-${appearance}`;
  #{tag}.button(class=appearanceClass)&attributes(attributes)= text || attributes.value
    if appearance === 'link'
      span.icon
