extends ~@pug/layouts/toxin-main.pug

//- components
include ~@common.blocks/containers/card-pick-room/card-pick-room.pug

block variables
  -
    let title = 'Стартовая страница';
    let description = 'Стартовая страница в макете сайта TOXIN';

block content
  main.landing-page-layout
    +card-pick-room#card-pick-room.landing-page-layout__pick-room(
      name="pick-room",
      action="",
      method=""
    )
    p.landing-page-layout__welcome-text Лучшие номера для вашей работы, отдыха и просто вдохновения
