extends ~@pug/layouts/main.pug

block variables
  - var keywords = 'FSD, Frontend, TOXIN, образование, верстка';
  - var description = 'Стартовая страница в макете сайта TOXIN';
  - var title = 'Стартовая страница';

block header
block content
block footer
