@use '@shared/utils/styles/mixins.scss';
@use '@themes' as theme;

.landing-page-layout {
  position: relative;
  min-height: 829px / 14px * 1em;
  @include mixins.background-auto-carousel(
    '@assets/pictures/images/backgrounds/rooms/room-1.jpg'
      '@assets/pictures/images/backgrounds/rooms/room-2.jpg'
      '@assets/pictures/images/backgrounds/rooms/room-3.jpg'
  );

  &__pick-room,
  &__welcome-text {
    position: absolute;
  }

  &__pick-room {
    top: 70px / 14px * 1em;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    height: fit-content;

    @media print, screen and (min-width: theme.get-scss-var(breakpoints, sm)) {
      right: initial;
      left: 140px/1440px * 100%;
      margin-right: initial;
      margin-left: initial;
    }
  }

  &__welcome-text {
    right: 134px / 1440px * 100%;
    bottom: 20px / 14px * 1em;
    margin: 0;
    width: 297px / 14px * 1em;
    text-align: right;
    word-break: normal;
  }
}
