@use '@themes' as theme;

.card-text {
  text-transform: initial;
  font-weight: normal;

  @media print, screen and (color) {
    color: rgb(theme.get-css-var(palette, text, caption));
  }

  &_size_small {
    font-size: 12px / 14px * 1em;
  }
}
