.card-text {
  text-transform: initial;
  font-weight: normal;

  @media print, screen and (color) {
    color: rgba(var(--color__dark-shade), 0.5);
  }

  &_size_small {
    font-size: 12px / 14px * 1em;
  }
}
