.nav-bar__navigation-item_expandable {
  .nav-bar__navigation-item-dropdown-label {
    display: inline-flex;
    vertical-align: middle;
    cursor: pointer;
  }

  @media print, screen and (min-width: 0px) {
    & > .nav-bar__navigation-item-dropdown-checkbox {
      display: none;

      & + .nav-bar__navigation-item-dropdown-label > .icon.nav-bar__expand-icon {
        &:after {
          content: '\e5cf';
        }
      }
      &:checked + .nav-bar__navigation-item-dropdown-label > .icon.nav-bar__expand-icon {
        &:after {
          content: '\e5ce';
        }
      }

      & ~ .nav-bar__navigation-list {
        visibility: hidden;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s linear, visibility 0.2s linear;
      }
      &:checked ~ .nav-bar__navigation-list {
        visibility: visible;
      }
    }
  }

  @media print, screen and (min-width: 992px) {
    & {
      position: relative;

      .nav-bar__navigation-item {
        padding-left: 0.5em;
        padding-right: 0.5em;
        background-color: rgba($color: #ffffff, $alpha: 0.75);
      }
      .nav-bar__navigation-list,
      .nav-bar__navigation-item-dropdown-label {
        width: max-content;
      }

      & > .nav-bar__navigation-item-dropdown-checkbox ~ .nav-bar__navigation-list {
        display: flex;
        flex-flow: column;
        overflow: initial;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s linear, visibility 0.2s linear;

        & > .nav-bar__navigation-item {
          margin-right: 0;
        }
      }

      &:hover > .nav-bar__navigation-item-dropdown-checkbox ~ .nav-bar__navigation-list,
      &:focus-within > .nav-bar__navigation-item-dropdown-checkbox ~ .nav-bar__navigation-list {
        visibility: visible;
        max-height: fit-content;
        opacity: 1;
        z-index: 1;
      }
    }
  }
}

.nav-bar__navigation {
  @media print, screen and (min-width: 992px) {
    &
      > .nav-bar__navigation-list
      > .nav-bar__navigation-item_expandable
      > .nav-bar__navigation-item-dropdown-checkbox
      ~ .nav-bar__navigation-list {
      position: absolute;
    }
  }
}
