.expand-icon {
  &:after {
    content: "\e5cf";
    font-family: "Material Icons";
    position: absolute;
    height: 44px/14.4px+0vmax;
    width: 44px/14.4px+0vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    text-indent: initial;
  }
}
