@use "./../../../colors.scss";

.form-dropdown__link-btns {
  .form-dropdown__clear-btn-js,
  .form-dropdown__apply-btn-js {
    color: map-get(colors.$THEME_COLORS, color__primary);
    font: var(--font__h3);
    text-transform: uppercase;
  }
}
