@use "@utils/devTools/devTools.scss";

.form-dropdown__link-btns {
  .form-dropdown__clear-btn-js,
  .form-dropdown__apply-btn-js {
    color: devTools.getColor(color__primary, 1);
    font: var(--font__h3);
    text-transform: uppercase;
  }
}
