//- 
  color?: 'gray' | 'primary-gradient' - color of logo picture
  title?: string - title of logo
  Tip: mixin also uses 'and attributes'(&attributes)
mixin logo({ color = '', title = '' } = {})
  -
    const colorClass = color === '' ? null : `logo__picture_color_${color}`;
  .logo&attributes(attributes)
    .logo__picture(class=[sizeClass, colorClass])
    if title !== ''
      span.logo__title= title
