@use '@utils/devTools/styles/mixins.scss';
@use '@themes/main/gradients.scss';

@include mixins.import-font(
  'Toxin Logo Font',
  './__title/fonts/toxin-logo-font.ttf'
);

.logo {
  display: grid;
  align-items: center;
  justify-content: start;
  grid: 'logo title';
  grid-column-gap: 12.5px / 11.66666666656944px * 1em;

  &__picture {
    $design-size: 48px;
    $basic-size: $design-size / 14px * 1em;
    $border-width: 3px;

    $left-curve-size: (14.12px - $border-width) / $design-size * 100%;

    $right-curve-width: (10.94px - $border-width) / $design-size * 100%;
    $right-curve-height: (7.09px - $border-width) / $design-size * 100%;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $basic-size;
    height: $basic-size;
    border: $border-width solid black;
    border-radius: 100%;
    background: transparent;
    &::before {
      margin-top: 3px / $design-size * 100%;
      margin-left: 2px / $design-size * 100%;
      width: calc(#{$border-width} + #{$left-curve-size});
      height: calc(#{$border-width} + #{$left-curve-size});
      border-top: $border-width solid black;
      border-right: $border-width solid black;
      border-top-right-radius: 100%;
      content: '';
    }
    &::after {
      margin-bottom: 3px / $design-size * 100%;
      margin-left: 2px / $design-size * 100%;
      width: calc(#{$border-width} + #{$right-curve-width});
      height: calc(#{$border-width} + #{$right-curve-height});
      border-top: $border-width solid black;
      border-left: $border-width solid black;
      border-top-left-radius: 100%;
      content: '';
    }

    &_color_gray {
      &,
      &::before,
      &::after {
        @media print, screen and (color) {
          border-color: rgba(var(--color__dark-shade), 0.25);
        }
      }
    }
    &_color_primary-gradient {
      &,
      &::before,
      &::after {
        @media print, screen and (color) {
          border-color: transparent;
        }
      }

      &,
      &::before {
        @media print, screen and (color) {
          background: linear-gradient(180deg, white, white) padding-box,
            gradients.primary(1) border-box;
        }
      }

      &::after {
        @media print, screen and (color) {
          background: linear-gradient(180deg, white, white) padding-box,
            gradients.secondary(1) border-box;
        }
      }
    }
  }

  &__title {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 1em;
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: 'Toxin Logo Font';

    @media print, screen and (color) {
      color: rgba(var(--color__dark-shade), 1);
    }
  }
}
