.form-elements-layout__expandable-checkbox-list{
    grid-area: expandable-checkbox-list;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-row-gap: 20px/14.4px+0vmax;
    padding-top: 12px/14.4px+0vmax;
    padding-right: 54px/14.4px+0vmax;
}