.form-toggle {
  --main-color: gray;
  --main-active-color: black;
  --additional-active-color: silver;

  position: relative;
  display: grid;
  height: fit-content;
  grid-template-columns: auto 1fr;
  grid-column-gap: 10px / 14px * 1em;
  place-items: center start;

  @media print, screen and (color) {
    --main-color: var(--main-common-color);
    --main-active-color: var(--main-primary-color);
    --additional-active-color: var(--dark-primary-color);
  }

  &__button,
  &__button-icon {
    width: 40px / 14px * 1em;
    height: 20px / 14px * 1em;
  }

  &__button {
    margin: 0;
    border-radius: 25% / 50%;
    font: inherit;
    cursor: pointer;
    appearance: none;

    &:checked {
      & + .form-toggle__button-icon {
        & .form-toggle__button-icon-border {
          stroke: rgb(var(--main-active-color) / 100%);
        }

        & .form-toggle__button-icon-circle {
          transform: translateX(50%);
          fill: var(--SVG-gradient-ID);
        }
      }
    }
  }

  &__button-icon {
    position: absolute;
    pointer-events: none;
  }

  &__button-icon-border {
    fill: white;
    stroke: rgb(var(--main-color) / 25%);
  }

  &__button-icon-circle {
    transition: transform 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
    fill: rgb(var(--main-color) / 25%);
  }

  &__label {
    cursor: pointer;
    user-select: none;
  }
}
