@use '../../factory.scss';

$gradients: (
  primary:
    factory.create-gradient(
      (
        rgb(factory.get-css-var(palette, primary, main)) 0%,
        rgb(factory.get-css-var(palette, primary, dark)) 100%
      )
    ),
  secondary:
    factory.create-gradient(
      (
        rgb(factory.get-css-var(palette, secondary, main)) 0%,
        rgb(factory.get-css-var(palette, secondary, light)) 100%
      )
    ),
);
