@use '../../factory.scss';

$palette: (
  common: factory.create-contrast-colors(rgb(255 255 255), rgb(31 32 65)),
  primary:
    factory.create-contrast-colors(
      rgb(255 255 255),
      rgb(188 156 255),
      $dark: rgb(139 164 249)
    ),
  secondary:
    factory.create-contrast-colors(
      rgb(255 255 255),
      rgb(111 207 151),
      rgb(102 210 234)
    ),
  text: (
    primary: rgb(31 32 65 / 1),
    secondary: rgb(31 32 65 / 0.75),
    caption: rgb(31 32 65 / 0.5),
    placeholder: rgb(31 32 65 / 0.25),
  ),
  divider: rgb(31 32 65 / 0.1),
);
