@use '@shared/utils/styles/functions.scss';

$typography: (
  h1: 700 1rem / #{29.5px / 24px * 1rem} #{functions.safe-font-family(
      'Montserrat'
    )},
  h2: 700 #{19px / 24px * 1rem} / #{23.5px / 24px * 1rem} #{functions.safe-font-family(
      'Montserrat'
    )},
  h3: 700 #{12px / 24px * 1rem} / #{15px / 24px * 1rem} #{functions.safe-font-family(
      'Montserrat'
    )},
  body: 400 #{14px / 24px * 1rem} / 1rem #{functions.safe-font-family(
      'Montserrat'
    )},
);
