//-
  items: { [textContent: string]: { href: string, items?: [textContent: string]: { href: string, items?: } } } - recursive items of nav-bar list
  active?: string - key of active item
mixin nav-bar__navigation-list(items, active)
  -
    const bubbleActiveStatus = (items, activeKey) => {
      Object.entries(items).forEach(([key, item]) => {
        if (item.items) {
          if (bubbleActiveStatus(item.items, activeKey)) {
            item.active = 'active';
          }
        }

        if (key === activeKey || item.active) {
          item.active = 'active';

          return true;
        }
      });

      return false;
    };

    bubbleActiveStatus(items, active);   
  ul.nav-bar__navigation-list
    each itemSettings, itemName in items
      if itemSettings.items
        li.nav-bar__navigation-item(
          class=[itemSettings.items ? 'nav-bar__navigation-item_isDropdown' : undefined, itemSettings.active ? 'nav-bar__navigation-item_isActive' : undefined],
          tabindex="0"
        )= itemName
          .icon.nav-bar__expand-icon
          +nav-bar__navigation-list(itemSettings.items)
      else
        li.nav-bar__navigation-item(
          class=itemSettings.items ? 'nav-bar__navigation-item_isDropdown' : undefined
        )
          a(
            href=itemSettings.href,
            class=itemSettings.active ? 'nav-bar__navigation-item_isActive' : undefined
          )= itemName
