mixin nav-bar__navigation-list(active, items)
  -
    const bubbleActiveStatus = (items, activeKey) => {
      Object.entries(items).forEach(([key, item]) => {
        if (item.items) {
          if (bubbleActiveStatus(item.items, activeKey)) {
            item.active = 'active';
          }
        }

        if (key === activeKey || item.active) {
          item.active = 'active';

          return true;
        }
      });

      return false;
    };

    bubbleActiveStatus(items, active);   
  ul.nav-bar__navigation-list
    each itemSettings, itemName in items
      if itemSettings.items
        li.nav-bar__navigation-item(
          class=[itemSettings.items ? 'nav-bar__navigation-item_isDropdown' : null, itemSettings.active ? 'nav-bar__navigation-item_isActive' : null],
          tabindex="0"
        )= itemName
          .icon.nav-bar__expand-icon
          +nav-bar__navigation-list(null, itemSettings.items)
      else
        li.nav-bar__navigation-item(
          class=itemSettings.items ? 'nav-bar__navigation-item_isDropdown' : null
        )
          a(
            href=itemSettings.href,
            class=itemSettings.active ? 'nav-bar__navigation-item_isActive' : null
          )= itemName
