.form-bullet-list__item {
  display: grid;
  grid: "icon content";
  grid-column-gap: 10px / 14px * 1em;
  justify-content: start;
  align-items: baseline;

  &:before {
    content: "";
    display: inline-block;
    width: 0.7142857142857143em;
    height: 0.7142857142857143em;
    background: rgba(0, 0, 0, 1);
    border-radius: 100%;
  }
}
