$lineHeight: 24px;
$bulletSize: 10px;
.form-bullet-list__item {
  list-style: inside none;
  position: relative;
  padding-left: 20px/14.4px+0vmax;

  &:not(:nth-child(1)) {
    margin-top: 10px/14.4px+0vmax;
  }

  &:before {
    content: "";
    position: absolute;
    top: ($lineHeight - $bulletSize)/2/14.4px+0vmax;
    left: 0;
    display: inline-block;
    width: $bulletSize/14.4px + 0vmax;
    height: $bulletSize/14.4px + 0vmax;
    border-radius: 100%;
  }
}
