$lineHeight: 24px;
$bulletSize: 10px;
.form-bullet-list__item {
  list-style: inside none;
  position: relative;
  

  &:not(:nth-child(1)) {
    margin-top: 10px/14.4px+0vmax;
  }

  &:before {
    content: "";
    position: relative;
    display: inline-block;
    margin-right: 10px/14.4px+0vmax;
    width: $bulletSize/14.4px + 0vmax;
    height: $bulletSize/14.4px + 0vmax;
    border-radius: 100%;
  }
}
