@use '@utils/devTools/styles/functions.scss';

html {
  height: 100%;
  background-color: white;
  color: black;
  font-size: functions.get-liquid-size(24, 18);
  font-family: 'Times New Roman', Times, serif;
}

.main-layout {
  display: grid;
  min-height: 100%;
  grid:
    'header' auto
    'main' 1fr
    'footer' auto / auto;
}
