@use '@utils/devTools/styles/functions.scss';

html {
  height: 100%;
  background-color: white;
  color: black;
  font-size: functions.get-liquid-size(24, 18);
  font-family: functions.safe-font-family(null);
}

body {
  margin: 0;
  word-break: break-word;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-layout {
  display: grid;
  min-height: 100%;
  grid:
    'header' auto
    'main' 1fr
    'footer' auto / auto;
}
