extends ~@pug/layouts/main.pug

block variables
  - var keywords = 'FSD, Frontend, TOXIN, образование, верстка';
  - var description = 'Цвета и шрифты, используемые в макете сайта TOXIN';
  - var title = 'Цвета и шрифт';

block header
block content
block footer
