@use '@thematic/main-theme.blocks/gradients.scss';

.pagination{
  &__item {
    color: rgba(var(--color__dark-shade), 0.5);

    &_previous {
      color: rgba(255, 255, 255, 1);
      background: gradients.secondary(1);
    }

    &_active {
      color: rgba(255, 255, 255, 1);
      background: gradients.primary(1);
    }

    &_next {
      color: rgba(255, 255, 255, 1);
      background: gradients.secondary(1);
    }
    
  }
}