extends ~@pug/layouts/main.pug

block variables
  - var keywords = 'FSD, Frontend, TOXIN, образование, верстка';
  - var description = 'Страница регистрации и входа в макете сайта TOXIN';
  - var title = 'Регистрация и вход';

block header
block content
block footer
