@use '@utils/devTools/styles/mixins.scss';

.sign-in-layout {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 682px / 14px * 1em;
  @include mixins.background-auto-carousel(
    '@assets/pictures/images/backgrounds/rooms/room-4.jpg'
      '@assets/pictures/images/backgrounds/rooms/room-3.jpg'
  );

  &__card_hidden {
    display: none;
  }
}
