.card-base {
  width: 380px / 14px * 1em;
  height: fit-content;
  display: grid;
  align-items: center;
  padding: 30px / 14px * 1em;
  padding-top: 40px / 14px * 1em;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: white;
}
