.colors-and-type-layout {
  @media print, screen and (min-width: 0px) {
    display: grid;
    grid: 'colors' 'type';
    grid-row-gap: 1em;
    place-items: center;
    padding-top: 60px / 14px * 1em;
  }

  @media print, screen and (min-width: 992px) {
    grid: 'colors type' / auto #{403px / 14px * 1em};
    place-content: normal space-between;
    place-items: normal;
  }
}
