.colors-and-type-layout {
  @media print, screen and (min-width: 0px) {
    display: grid;
    grid: 'colors' 'type';
    grid-row-gap: 1em;
    place-items: center;
    padding: #{67px / 1440px * 100%} #{191px / 1440px * 100%} #{145px / 1440px * 100%} #{150px / 1440px *
      100%};
  }

  @media print, screen and (min-width: 992px) {
    grid: 'colors type' / auto #{407px / 14px * 1em};
    place-content: normal space-between;
    place-items: normal;
  }

  &__colors {
    @media print, screen and (min-width: 0px) {
      grid-area: colors;
      display: grid;
      place-content: start;
      grid-row-gap: 20px / 14px * 1em;
    }
  }

  &__type {
    @media print, screen and (min-width: 0px) {
      grid-area: type;
      display: grid;
      place-content: start;
      grid-row-gap: 50px / 14px * 1em;
    }
  }
}
