@use '@thematic/main-theme.blocks/gradients.scss';

.button {
  font: var(--font__h3);
  color: white;

  &_appearance_filled {
    background: gradients.primary(1);

    &:hover {
      background: gradients.primary(0.5);
    }
  }
  &_appearance_bordered {
    color: rgba(var(--color__primary), 1);
    background: linear-gradient(180deg, white, white) padding-box, gradients.primary(1) border-box;

    &:hover {
      background: linear-gradient(180deg, white, white) padding-box,
        gradients.primary(0.5) border-box;
    }
  }
  &_appearance_like-a-icon-link {
    color: rgba(var(--color__primary), 1);

    &:hover {
      color: rgba(var(--color__dark-shade), 0.5);
    }
  }
  &_appearance_like-a-link {
    background: gradients.primary(1);

    &:hover {
      background: gradients.primary(0.5);
    }
  }
}
