extends ~@layouts/basic/ui-kit-layout/ui-kit-layout.pug

include ~@common.blocks/primitives/color-sample/color-sample.pug
include ~@common.blocks/primitives/type-sample/type-sample.pug

block append variables
  -
    title = 'Цвета и шрифт';
    keywords = 'UI-kit, цвета, шрифт';
    description = 'Цвета и шрифты, используемые в макете сайта TOXIN';
    const colors = htmlWebpackPlugin ? require('@pages/colors-and-type/colors.json') : { Red: '#ff0000' };
    const type = htmlWebpackPlugin
      ? require('@pages/colors-and-type/type.json')
      : {
          Body: {
            tag: 'p',
            title:
              'This is the body text which is used for most of the design, like paragraphs, lists, etc',
          },
        };
block content
  main.colors-and-type-layout
    section.colors-and-type-layout__colors
      each colorValue, colorName in colors
        +color-sample(colorName, colorValue)
    section.colors-and-type-layout__type
      each content, tagItem in type
        -
          const tag = tagItem;
          const title = content.title;
          const htmlTag = content.tag || tagItem.toLowerCase();
        +type-sample(tag, title, { htmlTag })
