@use '@shared/styles/media.scss';

.colors-and-type-layout {
  display: grid;
  padding: #{67px / 1440px * 100%} #{158px / 1440px * 100%} #{145px / 1440px *
    100%} #{150px / 1440px * 100%};
  grid: 'colors' 'type';
  grid-row-gap: 1em;
  place-items: center;

  @media print, screen and (min-width: media.$md) {
    grid: 'colors type' / auto #{439px / 14px * 1em};
    place-content: normal space-between;
    place-items: normal;
  }

  &__colors {
    display: grid;
    grid-area: colors;
    place-content: start;
    grid-row-gap: 20px / 14px * 1em;
  }

  &__type {
    display: grid;
    grid-area: type;
    place-content: start;
  }

  &__type-item {
    &:not(:first-child) {
      margin-top: 52px / 14px * 1em;
    }

    &:nth-last-child(1) {
      margin-top: 48px / 14px * 1em;
    }
  }
}
