@use "sass:list";

@mixin centerAbsPosition {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@mixin ellipsisText() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin gradientFont($background) {
  color: transparent;
  background: $background;
  background-clip: text;
}

/*
* $imagesPaths: {string string ...} - scss list using space between img paths
*/
@mixin backgroundAutoCarousel($imagesPaths) {
  $backgroundImages: "";
  $index: 0;
  @each $path in $imagesPaths {
    @if $index != 0 {
      $backgroundImages: $backgroundImages + ",";
    }
    $index: $index + 1;
    $backgroundImages: $backgroundImages + url($path);
  }

  background: white no-repeat fixed;
  background-image: #{$backgroundImages};
  background-size: cover;
  animation: change-image #{list.length($imagesPaths) * 6s} linear infinite;

  @keyframes change-image {
    $index: 0;
    @each $path in $imagesPaths {
      $keyframe: #{100 / list.length($imagesPaths) * $index * 1%};
      #{$keyframe} {
        background-image: url($path);
      }
      $index: $index + 1;
    }
    100% {
      background-image: url(list.nth($imagesPaths, 1));
    }
  }
}
