@use "./../../../colors.scss";

.button_isBordered {
  color: map-get(colors.$THEME_COLORS, color__primary_100);
  background: linear-gradient(180deg, white, white) padding-box,
    map-get(colors.$THEME_GRADIENTS, gradient__primary_100) border-box;

  &:hover {
    background: linear-gradient(180deg, white, white) padding-box,
      map-get(colors.$THEME_GRADIENTS, gradient__primary_50) border-box;
  }
}
