@use '@themes' as theme;

.tooltip {
  $tooltip-icon-size: 20px / 14px * 1em;
  $tooltip-arrow-size: 5px / 14px * 1em;

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: $tooltip-icon-size;
  height: $tooltip-icon-size;
  border: 1px solid black;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;

  @media print, screen and (color) {
    border: theme.get-css-var(border, main);
    color: rgb(theme.get-css-var(palette, text, placeholder));
  }

  //Tooltip text container
  &::before {
    top: $tooltip-arrow-size + $tooltip-icon-size;
    padding: 0.5em 1em;
    border-radius: 4px;
    background-color: black;
    color: white;
    content: attr(data-content);
    word-break: normal;
  }

  //Tooltip arrow
  &::after {
    top: $tooltip-icon-size;
    border-right: $tooltip-arrow-size solid transparent;
    border-bottom: $tooltip-arrow-size solid black;
    border-left: $tooltip-arrow-size solid transparent;
    content: '';
  }

  //Setting up the transition
  &::before,
  &::after {
    position: absolute;
    z-index: 10;
    text-align: center;
    opacity: 0;
    transition: all theme.get-css-var(transitions, duration, standard) ease; //speed of closing
    pointer-events: none;
  }

  //Triggering the transition
  &:focus::before,
  &:focus::after,
  &:hover::before,
  &:hover::after {
    opacity: 1;
    transition: all theme.get-css-var(transitions, duration, complex) ease; //speed of opening
  }
}
