.nav-bar {
  box-shadow: 0px #{10px / 14px * 1em} #{20px / 14px * 1em} 0px rgba(var(--color__dark-shade), 0.05);

  &__navigation-item {
    color: rgba(var(--color__dark-shade), 0.5);

    *:hover,
    *:hover:after,
    *:hover:before,
    *:focus-within,
    *:focus-within:after,
    *:focus-within:before {
      color: rgba(var(--color__dark-shade), 0.75);
    }

    &_active {
      color: rgba(var(--color__dark-shade), 0.75);
    }

    &_expandable {
      .nav-bar__navigation-item-dropdown-checkbox:checked
        + .nav-bar__navigation-item-dropdown-label {
        color: rgba(var(--color__dark-shade), 0.75);
      }
    }
  }

  &__login {
    &_status_confirmed {
      &:before {
        border-left-color: rgba(var(--color__dark-shade), 0.1);
      }
    }
  }

  &__person {
    color: rgba(var(--color__dark-shade), 0.5);
  }
}
