@use '@utils/devTools/styles/mixins.scss';

.heading {
  display: flex;
  justify-content: space-between;
  margin: 0;

  @media print, screen and (color) {
    color: rgba(var(--color__dark-shade), 1);
  }

  @include mixins.unify-parent('h1') {
    font: var(--font__h1);
  }
  @include mixins.unify-parent('h2') {
    font: var(--font__h2);
  }
  @include mixins.unify-parent('h3') {
    text-transform: uppercase;
    font: var(--font__h3);
  }

  &_display_block {
    display: block;
  }
  &_display_inline-block {
    display: inline-block;
  }

  &_text-transform_none {
    text-transform: none;
  }

  &_font-size_inherit {
    font-size: inherit;
  }

  &_line-height_inherit {
    line-height: inherit;
  }

  &_the-first-letter-size_extra-small {
    display: inline-block;

    &::first-letter {
      font-size: 14px / 24px * 1em;
      line-height: 17.5px / 24px * 1em;
    }
  }
  &_the-first-letter-size_small {
    display: inline-block;

    &::first-letter {
      font-size: 14px / 19px * 1em;
    }
  }

  &_color_inherit {
    color: inherit;
  }

  &_justify-content_center {
    justify-content: center;
  }

  &_margin-bottom_small {
    margin-bottom: 5px / 12px * 1em;
  }
  &_margin-bottom_medium {
    margin-bottom: 1em;
  }
  &_margin-bottom_large {
    margin-bottom: 16px / 12px * 1em;
  }
  &_margin-bottom_extra-large {
    margin-bottom: 20px / 12px * 1em;
  }

  &__label {
    display: inline-flex;
    align-items: center;

    &_interactive {
      cursor: pointer;
      user-select: none;
    }

    &_justify-content_spread {
      justify-content: space-between;
      width: 100%;
    }
  }

  &__description {
    font-weight: normal;

    @media print, screen and (color) {
      color: rgba(var(--color__dark-shade), 0.5);
    }
  }
}
