.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px / 12px * 1em;

  &_margin-bottom_medium {
    margin-bottom: 1em;
  }
  &_margin-bottom_large {
    margin-bottom: 16px / 12px * 1em;
  }
  &_margin-bottom_extra-large {
    margin-bottom: 20px / 12px * 1em;
  }
  &_margin-bottom_none {
    margin-bottom: 0;
  }

  &__label {
    display: inline-flex;
    align-items: center;

    &_justify-content_spread {
      width: 100%;
      justify-content: space-between;
    }
  }

  &__description {
    font-weight: normal;
  }
}
