.pagination__item {
  display: inline-flex;
  place-items: center;
  place-content: center;
  width: 40px/14.4px+0vmax;
  height: 40px/14.4px+0vmax;
  font: inherit;
  cursor: pointer;
  user-select: none;
}
