@use '@shared/utils/styles/mixins.scss';
@use '@themes/main/gradients.scss';

.form-rate-button {
  line-height: 0;

  &__heading {
    margin-bottom: 16px / 14px * 1em;
  }

  &__rating {
    display: inline;
    margin: 0;
    padding: 0;
    border-width: 0;
    font-size: 24px / 14px * 1em;
    line-height: 1em;

    &:disabled {
      pointer-events: none;

      .form-rate-button__icon {
        cursor: initial;
      }
    }
  }

  &__button-item {
    display: none;

    // selected: filled star
    &:checked {
      & ~ .form-rate-button__icon::before {
        content: '\e838';
      }

      & + .form-rate-button__icon:hover::before,
      & + .form-rate-button__icon:hover ~ .form-rate-button__icon::before,
      & ~ .form-rate-button__icon:hover::before,
      & ~ .form-rate-button__icon:hover ~ .form-rate-button__icon::before {
        content: '\e838';
      }
    }
  }

  &__icon {
    float: right;
    overflow: hidden;
    width: 1em;
    height: 1em;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;

    &:hover {
      //after selected by hover: filled
      &::before,
      & ~ .form-rate-button__icon::before {
        content: '\e838';
      }

      //before selected by hover: filled
      &
        ~ .form-rate-button__button-item:checked
        ~ .form-rate-button__icon::before {
        content: '\e838';
      }
    }

    // default: star_border
    &::before {
      content: '\e83a';
      font-family: 'Material Icons';

      @media print, screen and (color) {
        @include mixins.gradient-font(gradients.primary(1));
      }
    }
  }
}
