@use "./../../../colors.scss";

.form-radio-buttons__button-item {
  border: var(--border);

  &:checked {
    border-color: map-get(colors.$THEME_COLORS, color__primary_100);
  }

  &:before {
    background-image: map-get(colors.$THEME_GRADIENTS, gradient__primary_100);
  }
}
