@use "./../../../colors.scss";
@use "./../../../gradients.scss";

.form-radio-buttons__button-item {
  border: var(--border);

  &:checked {
    border-color: colors.getColor(color__primary, 1);
  }

  &:before {
    background-image: gradients.getBinaryLinearGradient(color__primary, 1);
  }
}
