.footer__copyright-bar {
  @media print, screen and (min-width: 0px) {
    grid-area: copyright-bar;
    display: grid;
    grid: 'copyright' 'icons';
    justify-content: center;
    padding: #{24px / 14px * 1em} #{140px / 1440px * 100%} #{16px / 14px * 1em} #{140px / 1440px * 100%};
  }

  @media print, screen and (min-width: 992px) {
    grid: 'copyright icons';
    justify-content: space-between;
  }
}
