@use "@utils/devTools/devTools.scss";

.comments__item {
  display: grid;
  grid:
    "icon source"
    "like content";
  grid-row-gap: 0.7142857142857143em;
  grid-column-gap: 0.7142857142857143em;
}
