@use '@shared/utils/styles/mixins.scss';
@use '@themes' as theme;

.type-sample {
  display: grid;
  grid: 'tag sample' / auto 1fr;
  grid-column-gap: 30px / 14px * 1em;

  &__tag {
    margin: 0;
    width: 40px;
    text-align: right;
    grid-area: tag;

    @media print, screen and (color) {
      color: rgb(theme.get-css-var(palette, text, placeholder));
    }

    @include mixins.unify-parent('h1') {
      font: theme.get-css-var(typography, h1);
      font-weight: 400;
    }
    @include mixins.unify-parent('h2') {
      font: theme.get-css-var(typography, h2);
      font-weight: 400;
    }
    @include mixins.unify-parent('h3') {
      text-transform: uppercase;
      font: theme.get-css-var(typography, h3);
      font-weight: 400;
    }
  }

  &__sample {
    margin: 0;
    grid-area: sample;

    @media print, screen and (color) {
      @include mixins.unify-parent('h1') {
        color: rgb(theme.get-css-var(palette, text, primary));
      }
      @include mixins.unify-parent('h2') {
        color: rgb(theme.get-css-var(palette, text, primary));
      }
      @include mixins.unify-parent('h3') {
        color: rgb(theme.get-css-var(palette, text, primary));
      }
    }

    @include mixins.unify-parent('h1') {
      font: theme.get-css-var(typography, h1);
    }
    @include mixins.unify-parent('h2') {
      font: theme.get-css-var(typography, h2);
    }
    @include mixins.unify-parent('h3') {
      text-transform: uppercase;
      font: theme.get-css-var(typography, h3);
    }

    &_width_small {
      width: 312px;
    }
  }
}
