@use '@shared/utils/styles/mixins.scss';

.type-sample {
  display: grid;
  grid: 'tag sample' / auto 1fr;
  grid-column-gap: 30px / 14px * 1em;

  &__tag {
    margin: 0;
    width: 40px;
    text-align: right;
    grid-area: tag;

    @media print, screen and (color) {
      color: rgb(var(--main-common-color) / 0.25);
    }

    @include mixins.unify-parent('h1') {
      font: var(--h1-font);
      font-weight: 400;
    }
    @include mixins.unify-parent('h2') {
      font: var(--h2-font);
      font-weight: 400;
    }
    @include mixins.unify-parent('h3') {
      text-transform: uppercase;
      font: var(--h3-font);
      font-weight: 400;
    }
  }

  &__sample {
    margin: 0;
    grid-area: sample;

    @media print, screen and (color) {
      @include mixins.unify-parent('h1') {
        color: rgb(var(--main-common-color) / 1);
      }
      @include mixins.unify-parent('h2') {
        color: rgb(var(--main-common-color) / 1);
      }
      @include mixins.unify-parent('h3') {
        color: rgb(var(--main-common-color) / 1);
      }
    }

    @include mixins.unify-parent('h1') {
      font: var(--h1-font);
    }
    @include mixins.unify-parent('h2') {
      font: var(--h2-font);
    }
    @include mixins.unify-parent('h3') {
      text-transform: uppercase;
      font: var(--h3-font);
    }

    &_width_small {
      width: 312px;
    }
  }
}
