.cards-layout {
  $gap: 2.857142857142857em;
  grid:
    "pick-room room-definition calendar"
    ". room-definition ." $gap
    "registration room-definition card-luxury"
    "registration . card-luxury" $gap
    "registration entering card-luxury"
    "registration entering ." $gap
    "registration entering card-common";
  grid-row-gap: initial;
  grid-column-gap: $gap;
}
