@use '@themes/main/gradients.scss';

.form-checkbox-buttons {
  &_type_detailed {
    .form-checkbox-buttons__item {
      grid-template-areas:
        'button-item label-item'
        '. description';
    }

    .form-checkbox-buttons__label-item {
      font-weight: 700;

      @media print, screen and (color) {
        color: rgba(var(--color__dark-shade), 0.75);
      }
    }

    .form-checkbox-buttons__description {
      @media print, screen and (color) {
        color: rgba(var(--color__dark-shade), 0.5);
      }
    }
  }

  &__list {
    display: grid;
    grid-row-gap: 10px / 14px * 1em;
  }

  &__item {
    display: grid;
    grid: 'button-item label-item' auto / auto 1fr;
    grid-column-gap: 10px / 14px * 1em;
  }

  &__button-item {
    grid-area: button-item;
    appearance: none;
    width: 20px / 14px * 1em;
    height: 20px / 14px * 1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: var(--border-radius-size);
    cursor: pointer;

    @media print, screen and (color) {
      border: var(--border);
    }

    &:checked {
      @media print, screen and (color) {
        background: linear-gradient(180deg, white, white) padding-box,
          gradients.primary(1) border-box;
      }

      &:before {
        opacity: 1;
      }
    }

    &:before {
      $border-width: 2px;
      content: '';
      width: calc(#{$border-width} + 20%);
      height: calc(#{$border-width} + 30%);
      border-bottom: $border-width solid black;
      border-right: $border-width solid black;
      opacity: 0;
      transform: rotate(45deg);

      @media print, screen and (color) {
        border-image: gradients.primary(1) 2;
      }
    }
  }

  &__label-item {
    grid-area: label-item;
    line-height: 20px / 14px * 1em;

    @media print, screen and (color) {
      color: rgba(var(--color__dark-shade), 0.5);
    }
  }

  &__description {
    grid-area: description;
    display: block;
    margin-top: 7px / 14px * 1em;
    font-size: 12px / 14px * 1em;
    line-height: 14px / 12px * 1em;
  }
}
