@use '@themes/main/gradients.scss';

.form-checkbox-buttons {
  &_type_detailed {
    .form-checkbox-buttons__item {
      grid-template-areas:
        'button-item label-item'
        '. description';
    }

    .form-checkbox-buttons__label-item {
      font-weight: 700;

      @media print, screen and (color) {
        color: rgba(var(--color__dark-shade), 0.75);
      }
    }

    .form-checkbox-buttons__description {
      @media print, screen and (color) {
        color: rgba(var(--color__dark-shade), 0.5);
      }
    }
  }

  &__list {
    display: grid;
    grid-row-gap: 10px / 14px * 1em;
  }

  &__item {
    display: grid;
    grid: 'button-item label-item' auto / auto 1fr;
    grid-column-gap: 10px / 14px * 1em;
  }

  &__button-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px / 14px * 1em;
    height: 20px / 14px * 1em;
    border: 1px solid black;
    border-radius: var(--border-radius-size);
    grid-area: button-item;
    appearance: none;

    @media print, screen and (color) {
      border: var(--border);
    }

    &:checked {
      @media print, screen and (color) {
        border-color: rgba(var(--color__primary), 1);
      }

      &::before {
        opacity: 1;
      }
    }

    &::before {
      $border-width: 2px;

      width: calc(#{$border-width} + 20%);
      height: calc(#{$border-width} + 30%);
      border-right: $border-width solid black;
      border-bottom: $border-width solid black;
      content: '';
      opacity: 0;
      transform: rotate(45deg);

      @media print, screen and (color) {
        border-image: gradients.primary(1) 2;
      }
    }
  }

  &__label-item {
    line-height: 20px / 14px * 1em;
    grid-area: label-item;

    @media print, screen and (color) {
      color: rgba(var(--color__dark-shade), 0.5);
    }

    &_width_small {
      max-width: 192px / 14px * 1em;
    }
    &_width_medium {
      max-width: 203px / 14px * 1em;
    }
    &_width_large {
      max-width: 230px / 14px * 1em;
    }
  }

  &__description {
    display: block;
    margin-top: 6px / 14px * 1em;
    font-weight: 400;
    font-size: 12px / 14px * 1em;
    line-height: 14px / 12px * 1em;
    grid-area: description;
  }
}
