.registration-card {
  display: grid;
  grid:
    'title title'
    '. .' #{22px / 14px * 1em}
    'name-fieldset name-fieldset'
    '. .' #{18px / 14px * 1em}
    'birthday-field birthday-field'
    '. .' #{20px / 14px * 1em}
    'login-fieldset login-fieldset'
    '. .' #{19px / 14px * 1em}
    'link-btn link-btn'
    '. .' #{29px / 14px * 1em}
    'switcher switcher' / auto 1fr;

  &__title {
    grid-area: title;
  }

  &__name-fieldset {
    display: grid;
    grid-area: name-fieldset;
    grid-row-gap: 10px / 14px * 1em;
  }

  &__birthday-field {
    margin-top: 6px / 14px * 1em;
    grid-area: birthday-field;
  }

  &__login-fieldset {
    display: grid;
    grid-area: login-fieldset;
    grid-row-gap: 10px / 14px * 1em;
  }

  &__link-btn {
    display: grid;
    margin-top: 6px / 14px * 1em;
    grid-area: link-btn;
  }

  &__switcher {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-area: switcher;
    grid: 'caption-of-redirect-to-entering switch-btn';
  }

  &__caption-of-redirect-to-entering {
    margin: 0;
    color: rgba(0, 0, 0, 1);
    grid-area: caption-of-redirect-to-entering;
  }

  &__switch-btn {
    grid-area: switch-btn;
    justify-self: end;
  }
}
