.room-details-layout {
  display: grid;

  @media (min-width: 0) {
    grid:
      'demo'
      'content';
  }

  &__demo {
    $cell-height: 485px / 14px * 1em / 2;

    display: grid;
    grid-area: demo;
    @media (min-width: 0) {
      grid:
        'big-img' #{$cell-height * 2}
        'small-img-1' #{$cell-height * 2}
        'small-img-2' #{$cell-height * 2};
    }
    @media (min-width: 992px) {
      $big-img-width: 981px / 1440px * 100%;

      grid:
        'big-img small-img-1' #{$cell-height}
        'big-img small-img-2' #{$cell-height} / #{$big-img-width} 1fr;
    }
  }

  &__big-img {
    grid-area: big-img;
  }

  &__small-img-1 {
    grid-area: small-img-1;
  }

  &__small-img-2 {
    grid-area: small-img-2;
  }

  &__content {
    display: grid;

    @media print, screen and (min-width: 0) {
      padding: #{70px / 14px * 1em} #{140px / 1440px * 100%} #{72px / 14px * 1em};
      grid:
        'info'
        'reservation';
      grid-gap: 70px / 14px * 1em;
    }

    @media print, screen and (min-width: 1440px) {
      grid: 'info reservation';
    }
  }

  &__info {
    display: grid;
    grid-area: info;

    @media (min-width: 0) {
      grid:
        'data'
        'impression'
        'comments'
        'rules'
        'alert';
      grid-row-gap: 1em;
    }
    @media (min-width: 768px) {
      grid:
        'data . impression'
        '. . .' #{35px / 14px * 1em}
        'comments comments comments'
        '. . .' #{33px / 14px * 1em}
        'rules . alert' / #{260px / 14px * 1em} #{101px / 14px * 1em} auto;
      grid-row-gap: initial;
    }
  }

  &__data {
    grid-area: data;

    @media (min-width: 0) {
      justify-self: center;
    }
    @media (min-width: 768px) {
      justify-self: left;
    }
  }

  &__impression {
    grid-area: impression;

    @media (min-width: 0) {
      justify-self: center;
    }
    @media (min-width: 1440px) {
      justify-self: left;
    }
  }

  &__comments {
    grid-area: comments;
  }

  &__rules {
    grid-area: rules;
  }

  &__rules-heading {
    margin-bottom: 17px;
    text-indent: 20px / 14px * 1em;
  }

  &__alert {
    grid-area: alert;
  }

  &__alert-heading {
    margin-bottom: 17px;
  }

  &__alert-content {
    margin: 0;
    max-width: 328px / 14px * 1em;
  }

  &__reservation {
    grid-area: reservation;
    justify-self: center;
  }
}
