extends ~@pug/layouts/main.pug

block variables
  - var keywords = 'FSD, Frontend, TOXIN, образование, верстка';
  - var description = 'Страница деталей номера в макете сайта TOXIN';
  - var title = 'Детали номера';

block header
block content
block footer
