@use "./colors.scss";
@use "./fonts.scss";

:root {
  --color__dark-shade_100: rgba(31, 32, 65, 1);
  --color__dark-shade_75: rgba(31, 32, 65, 0.75);
  --color__dark-shade_50: rgba(31, 32, 65, 0.5);
  --color__dark-shade_25: rgba(31, 32, 65, 0.25);
  --color__dark-shade_5: rgba(31, 32, 65, 0.05);
  --color__primary: #bc9cff;
  --color__secondary: #6fcf97;
}

html {
  font-size: calc(14px + 0.6944vmax);
}

h1,
h2 {
  font-family: "Quicksand";
  font-weight: 700;
  color: map-get(colors.$THEME_COLORS, color__dark-shade_100);
}
h1 {
  font-size: 1rem;
  line-height: 1.25rem;
  word-spacing: 0.125rem;
}
h2 {
  font-size: 0.792rem;
  line-height: 1rem;
  word-spacing: 0.083rem;
}

h3,
body {
  font-family: "Montserrat";
}
h3 {
  font-size: 0.5rem;
  font-weight: 700;
  word-spacing: 0.0417rem;
  line-height: 0.625rem;
  text-transform: uppercase;
  color: map-get(colors.$THEME_COLORS, color__dark-shade_100);
}
body {
  font-size: 0.583rem;
  font-weight: 400;
  line-height: 1rem;
  color: map-get(colors.$THEME_COLORS, color__dark-shade_75);
}
