@use "./colors.scss";
@use "./fonts.scss";

:root {
  --font__h1: 700 1rem /1.25rem "Quicksand";
  --font__h2: 700 0.792rem /1rem "Quicksand";
  --font__h3: 700 0.5rem /0.625rem "Montserrat";
  --font__body: 400 0.583rem /1rem "Montserrat";

  --color__dark-shade_100: rgba(31, 32, 65, 1);
  --color__dark-shade_75: rgba(31, 32, 65, 0.75);
  --color__dark-shade_50: rgba(31, 32, 65, 0.5);
  --color__dark-shade_25: rgba(31, 32, 65, 0.25);
  --color__dark-shade_5: rgba(31, 32, 65, 0.05);
  --color__primary_100: #bc9cff;
  --color__primary_50: rgba(188, 156, 255, 0.5);
  --color__primary_25: rgba(188, 156, 255, 0.25);
  --color__secondary_100: #6fcf97;
  --color__secondary_50: rgba(111, 207, 151, 0.5);
  --color__secondary_25: rgba(111, 207, 151, 0.25);

  --border: 1px solid rgba(31, 32, 65, 0.25);
  --border-hover: 1px solid rgba(31, 32, 65, 0.5);
  --border-radius-size: 0.278vmax;

  --gradient__primary_100: 180deg, var(--color__primary_100) 0%, rgba(139, 164, 249, 1) 100%;
  --gradient__primary_50: 180deg, var(--color__primary_50) 0%, rgba(139, 164, 249, 0.5) 100%;
  --gradient__primary_25: 180deg, var(--color__primary_25) 0%, rgba(139, 164, 249, 0.25) 100%;
  --gradient__secondary_100: 180deg, var(--color__secondary_100) 0%, rgba(102, 210, 234, 1) 100%;
  --gradient__secondary_50: 180deg, var(--color__secondary_50) 0%, rgba(102, 210, 234, 0.5) 100%;
  --gradient__secondary_25: 180deg, var(--color__secondary_25) 0%, rgba(102, 210, 234, 0.25) 100%;
}

html {
  font-size: calc(14px + 0.6944vmax);
}

h1,
h2 {
  font-family: "Quicksand";
  font-weight: 700;
  color: map-get(colors.$THEME_COLORS, color__dark-shade_100);
}
h1 {
  font-size: 1rem;
  line-height: 1.25rem;
  word-spacing: 0.125rem;
}
h2 {
  font-size: 0.792rem;
  line-height: 1rem;
  word-spacing: 0.083rem;
}

h3,
body {
  font-family: "Montserrat";
}
h3 {
  font-size: 0.5rem;
  font-weight: 700;
  word-spacing: 0.0417rem;
  line-height: 0.625rem;
  text-transform: uppercase;
  color: map-get(colors.$THEME_COLORS, color__dark-shade_100);
}
body {
  font-size: 0.583rem;
  font-weight: 400;
  line-height: 1rem;
  color: map-get(colors.$THEME_COLORS, color__dark-shade_75);
}
