.form-expandable-checkbox-list {
  display: flex;
  flex-direction: column;
  text-align: start;

  &__title {
    cursor: pointer;
  }

  &__expander-input {
    display: none;

    &:checked {
      & + .form-expandable-checkbox-list__expand-icon {
        transform: rotate(180deg);
      }

      & ~ .form-expandable-checkbox-list__list {
        visibility: visible;
      }
    }
  }

  &__list {
    overflow: hidden;
    visibility: hidden;
    max-height: 0;
    transition: max-height 0.3s linear, visibility 0.3s linear;
    margin-top: 0.5em;
    text-transform: none;
  }
}
