include ~@common.blocks/primitives/heading/heading.pug
include ~@common.blocks/containers/form-checkbox-buttons/form-checkbox-buttons.pug
//-
  heading?: see mixin heading
  buttons: see mixin form-checkbox-buttons
  checked?: boolean - open the list
  disabled?: see mixin form-checkbox-buttons
  isFilter?: see mixin form-checkbox-buttons
  Tip: mixin also uses 'and attributes'(&attributes)
mixin form-expandable-checkbox-list({ heading = 'expandable-checkbox-list', buttons = {}, checked = false, disabled = false, isFilter = false } = {})
  .form-expandable-checkbox-list
    -
      const expanderID =
        Object.keys(buttons).reduce((acc, current) => acc + current) + Math.random();
    +heading(heading, { isLabel: true })(for=expanderID, tabindex="0")&attributes(attributes)
      span.icon.form-expandable-checkbox-list__expand-icon
    input.form-expandable-checkbox-list__expander-input(
      id=expanderID,
      type="checkbox",
      checked=checked
    )
    +form-checkbox-buttons({ buttons, disabled, isFilter }).form-expandable-checkbox-list__list
