.form-expandable-checkbox-list {
  display: flex;
  flex-direction: column;
  text-align: start;

  &__heading {
    margin-top: 0;

    @media print, screen and (color) {
      color: rgb(var(--main-common-color) / 1);
    }

    &:hover {
      .form-expandable-checkbox-list__expand-icon {
        @media print, screen and (color) {
          color: rgb(var(--main-common-color) / 0.75);
        }
      }
    }

    &_tag_the-h1 {
      font: var(--h1-font);
    }

    &_tag_the-h2 {
      font: var(--h2-font);
    }

    &_tag_the-h3 {
      margin-bottom: 5px / 12px * 1em;
      text-transform: uppercase;
      font: var(--h3-font);
    }
  }

  &__heading-label {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    user-select: none;
  }

  &__expand-icon {
    @media print, screen and (color) {
      color: rgb(var(--main-common-color) / 0.5);
    }
  }

  &__expander-input {
    display: none;

    &:checked {
      & + .form-expandable-checkbox-list__expand-icon {
        transform: rotate(180deg);
      }

      & ~ .form-expandable-checkbox-list__list {
        visibility: visible;
      }
    }
  }

  &__list {
    visibility: hidden;
    overflow: hidden;
    margin-top: 0.5em;
    max-height: 0;
    text-transform: none;
    transition: max-height 0.3s linear, visibility 0.3s linear;
  }
}
