@use '@themes' as theme;

.nav-bar {
  display: grid;
  align-items: center;
  justify-content: space-between;
  padding: #{15px / 14px * 1em} #{140px / 1440px * 100%};
  width: 100%;
  background-color: white;
  grid: 'logo burger';

  @media print, screen and (min-width: theme.get-scss-var(breakpoints, md)) {
    grid: 'logo . body' / 1fr #{20px / 14px * 1em} auto;
  }

  @media print, screen and (color) {
    box-shadow: theme.get-css-var(shadows, 1);
  }

  &__logo {
    font-size: 11.67px / 14px * 1em;
    grid-area: logo;
  }

  &__burger {
    z-index: 21;
    display: grid;
    align-content: space-between;
    padding: 0;
    width: 30px / 14px * 1em;
    height: 18px / 14px * 1em;
    border: none;
    background: transparent;
    cursor: pointer;
    grid-area: burger;

    @media print, screen and (min-width: theme.get-scss-var(breakpoints, md)) {
      display: none;
    }

    &_active {
      &::before {
        transform: translate(0, #{9px / 14px * 1em}) rotate(45deg);
      }

      .nav-bar__burger-line {
        transform: scale(0);
      }

      &::after {
        transform: translate(0, #{-7px / 14px * 1em}) rotate(-45deg);
      }

      & + .nav-bar__body {
        transform: translate(0, 0);
      }
    }

    &::before,
    &::after {
      content: '';
      transition: transform theme.get-css-var(transitions, duration, shorter)
        ease;
    }

    &::before,
    .nav-bar__burger-line,
    &::after {
      width: 100%;
      height: 2px;
      background: black;
      will-change: transform;

      @media print, screen and (color) {
        background: rgb(theme.get-css-var(palette, common, main) / 0.9);
      }
    }
  }

  &__body {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: grid;
    padding: inherit;
    width: 100%;
    height: 100vh;
    background: rgb(255 255 255 / 0.9);
    transform: translate(0, -100%);
    grid-area: body;
    will-change: transform;
    grid: 'navigation' 1fr 'login';

    @media print, screen and (min-width: theme.get-scss-var(breakpoints, md)) {
      position: initial;
      padding: initial;
      height: initial;
      transform: initial;
      grid: 'navigation . login' / auto #{20px / 14px * 1em} auto;
    }

    &_transition_active {
      transition: transform theme.get-css-var(transitions, duration, shorter)
        ease;
    }
  }

  &__navigation {
    align-self: center;
    grid-area: navigation;

    @media print, screen and (min-width: theme.get-scss-var(breakpoints, md)) {
      &
        > .nav-bar__navigation-list
        > .nav-bar__navigation-item_expandable
        > .nav-bar__navigation-item-dropdown-checkbox
        ~ .nav-bar__navigation-list {
        position: absolute;
      }
    }
  }

  &__navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media print, screen and (min-width: theme.get-scss-var(breakpoints, md)) {
      display: inline-flex;
      flex-flow: row wrap;
      align-items: center;
    }
  }

  &__navigation-item {
    text-align: center;
    font-weight: normal;

    @media print, screen and (min-width: theme.get-scss-var(breakpoints, md)) {
      margin-right: 21px / 14px * 1em;
      text-align: left;

      &:last-child {
        margin-right: 0;
      }
    }

    @media print, screen and (color) {
      color: rgb(theme.get-css-var(palette, text, caption));
    }

    *:hover,
    *:hover::after,
    *:hover::before,
    *:focus-within,
    *:focus-within::after,
    *:focus-within::before {
      @media print, screen and (color) {
        color: rgb(theme.get-css-var(palette, text, secondary));
      }
    }

    &_expandable {
      @media print,
        screen and (min-width: theme.get-scss-var(breakpoints, md)) {
        position: relative;

        .nav-bar__navigation-item {
          padding-right: 0.5em;
          padding-left: 0.5em;
        }

        .nav-bar__navigation-list,
        .nav-bar__navigation-item-dropdown-label {
          width: max-content;
        }

        &
          > .nav-bar__navigation-item-dropdown-checkbox
          ~ .nav-bar__navigation-list {
          display: flex;
          visibility: hidden;
          flex-flow: column;
          align-items: flex-start;
          overflow: initial;
          opacity: 0;
          transition: opacity theme.get-css-var(transitions, duration, shorter)
              linear,
            visibility theme.get-css-var(transitions, duration, shorter) linear;

          & > .nav-bar__navigation-item {
            margin-right: 0;
          }
        }

        &:hover
          > .nav-bar__navigation-item-dropdown-checkbox
          ~ .nav-bar__navigation-list,
        &:focus-within
          > .nav-bar__navigation-item-dropdown-checkbox
          ~ .nav-bar__navigation-list {
          z-index: 1;
          visibility: visible;
          max-height: fit-content;
          opacity: 1;
        }
      }

      & > .nav-bar__navigation-item-dropdown-checkbox {
        display: none;

        & ~ .nav-bar__navigation-list {
          visibility: hidden;
          overflow: hidden;
          max-height: 0;
          transition: max-height
              theme.get-css-var(transitions, duration, shorter) linear,
            visibility theme.get-css-var(transitions, duration, shorter) linear;

          @media print,
            screen and (min-width: theme.get-scss-var(breakpoints, md)) {
            background-color: rgb(255 255 255 / 0.75);
          }
        }

        &:checked {
          & + .nav-bar__navigation-item-dropdown-label > .nav-bar__expand-icon {
            transform: rotate(180deg);
          }

          & ~ .nav-bar__navigation-list {
            visibility: visible;
          }
        }
      }

      .nav-bar__navigation-item-dropdown-checkbox:checked
        + .nav-bar__navigation-item-dropdown-label {
        @media print, screen and (color) {
          color: rgb(theme.get-css-var(palette, text, secondary));
        }
      }
    }

    &_active {
      color: black;
      font-weight: bold;

      @media print, screen and (color) {
        color: rgb(theme.get-css-var(palette, text, secondary));
      }
    }
  }

  &__navigation-item-dropdown-label {
    cursor: pointer;
    user-select: none;
  }

  &__link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }

  &__expand-icon {
    display: inline-flex;
    vertical-align: top;
    line-height: 1em;
  }

  &__login {
    display: grid;
    grid-area: login;

    &_status_confirmed {
      grid-auto-flow: column;

      &::before {
        content: '';

        @media print,
          screen and (min-width: theme.get-scss-var(breakpoints, md)) {
          margin-right: 20px / 14px * 1em;
          border-left: 1px solid black;
        }

        @media print, screen and (color) {
          border-left-color: rgb(theme.get-css-var(palette, divider));
        }
      }
    }

    &_status_unconfirmed {
      align-items: center;
      grid-auto-flow: column;
      grid-column-gap: 20px / 14px * 1em;
    }
  }

  &__person {
    text-decoration: none;
    cursor: pointer;

    @media print, screen and (color) {
      color: rgb(theme.get-css-var(palette, text, caption));
    }
  }
}
