.nav-bar {
  background-color: white;

  @media print, screen and (min-width: 0) {
    display: grid;
    padding: #{15px / 14px * 1em} #{140px / 1440px * 100%};
    width: 100%;
    grid: 'logo' 'navigation' 'login' auto / auto;
    grid-row-gap: 20px / 14px * 1em;
    justify-items: center;
  }

  @media print, screen and (min-width: 992px) {
    grid: 'logo navigation login' 1fr / 1fr auto auto;
    gap: 0 #{20px / 14px * 1em};
    place-items: center normal;
  }

  @media print, screen and (color) {
    box-shadow: 0 #{10px / 14px * 1em} #{20px / 14px * 1em} 0
      rgba(var(--color__dark-shade), 0.05);
  }

  &__logo {
    font-size: 11.67px / 14px * 1em;
    grid-area: logo;
  }

  &__navigation {
    grid-area: navigation;

    @media print, screen and (min-width: 992px) {
      &
        > .nav-bar__navigation-list
        > .nav-bar__navigation-item_expandable
        > .nav-bar__navigation-item-dropdown-checkbox
        ~ .nav-bar__navigation-list {
        position: absolute;
      }
    }
  }

  &__navigation-list {
    @media print, screen and (min-width: 992px) {
      display: inline-flex;
      flex-flow: row wrap;
      align-items: center;
    }
  }

  &__navigation-item {
    @media print, screen and (min-width: 0) {
      text-align: center;
      font-weight: normal;
    }

    @media print, screen and (min-width: 992px) {
      margin-right: 21px / 14px * 1em;
      text-align: left;

      &:last-child {
        margin-right: 0;
      }
    }

    @media print, screen and (color) {
      color: rgba(var(--color__dark-shade), 0.5);
    }

    *:hover,
    *:hover::after,
    *:hover::before,
    *:focus-within,
    *:focus-within::after,
    *:focus-within::before {
      @media print, screen and (color) {
        color: rgba(var(--color__dark-shade), 0.75);
      }
    }

    &_expandable {
      @media print, screen and (min-width: 0) {
        & > .nav-bar__navigation-item-dropdown-checkbox {
          display: none;

          & ~ .nav-bar__navigation-list {
            visibility: hidden;
            overflow: hidden;
            max-height: 0;
            background-color: rgba($color: #fff, $alpha: 0.75);
            transition: max-height 0.2s linear, visibility 0.2s linear;
          }

          &:checked {
            &
              + .nav-bar__navigation-item-dropdown-label
              > .nav-bar__expand-icon {
              transform: rotate(180deg);
            }

            & ~ .nav-bar__navigation-list {
              visibility: visible;
            }
          }
        }
      }

      @media print, screen and (min-width: 992px) {
        position: relative;

        .nav-bar__navigation-item {
          padding-right: 0.5em;
          padding-left: 0.5em;
        }

        .nav-bar__navigation-list,
        .nav-bar__navigation-item-dropdown-label {
          width: max-content;
        }

        &
          > .nav-bar__navigation-item-dropdown-checkbox
          ~ .nav-bar__navigation-list {
          display: flex;
          visibility: hidden;
          flex-flow: column;
          align-items: flex-start;
          overflow: initial;
          opacity: 0;
          transition: opacity 0.2s linear, visibility 0.2s linear;

          & > .nav-bar__navigation-item {
            margin-right: 0;
          }
        }

        &:hover
          > .nav-bar__navigation-item-dropdown-checkbox
          ~ .nav-bar__navigation-list,
        &:focus-within
          > .nav-bar__navigation-item-dropdown-checkbox
          ~ .nav-bar__navigation-list {
          z-index: 1;
          visibility: visible;
          max-height: fit-content;
          opacity: 1;
        }
      }

      .nav-bar__navigation-item-dropdown-checkbox:checked
        + .nav-bar__navigation-item-dropdown-label {
        @media print, screen and (color) {
          color: rgba(var(--color__dark-shade), 0.75);
        }
      }
    }

    &_active {
      color: black;
      font-weight: bold;

      @media print, screen and (color) {
        color: rgba(var(--color__dark-shade), 0.75);
      }
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }

  &__expand-icon {
    display: inline-flex;
    vertical-align: top;
    line-height: 1em;
  }

  &__login {
    grid-area: login;

    &_status_confirmed {
      &::before {
        content: '';

        @media print, screen and (min-width: 992px) {
          margin-right: 20px / 14px * 1em;
          border-left: 1px solid black;
        }

        @media print, screen and (color) {
          border-left-color: rgba(var(--color__dark-shade), 0.1);
        }
      }
    }
    &_status_unconfirmed {
      display: grid;
      align-items: center;
      grid-auto-flow: column;
      grid-column-gap: 20px / 14px * 1em;
    }
  }

  &__person {
    text-decoration: none;
    cursor: pointer;

    @media print, screen and (color) {
      color: rgba(var(--color__dark-shade), 0.5);
    }
  }
}
