@use '@themes/main/gradients.scss';

.form-range-slider {
  display: grid;
  align-items: baseline;
  grid:
    'label result'
    '. .' 23px / 14px * 1em
    'slider slider'
    '. .' 14px / 14px * 1em
    'description description';

  &__label {
    grid-area: label;
  }

  &__input {
    display: none;
  }

  &__result {
    text-align: right;
    text-transform: uppercase;
    font-size: 12px/14px * 1em;
    line-height: 15px/24px * 1em;
    grid-area: result;

    @media print, screen and (color) {
      color: rgba(var(--color__dark-shade), 0.5);
    }
  }

  &__slider {
    align-self: end;
    grid-area: slider;

    /* lib redefinition */
    .noUi-handle {
      border-radius: 100%;
      box-shadow: initial;
      cursor: pointer;
      &::after,
      &::before {
        display: none;
      }
    }
    &.noUi-horizontal {
      height: 6px / 14px * 1em;

      .noUi-handle {
        top: -6px / 14px * 1em;
        right: -8px / 14px * 1em;
        width: 16px / 14px * 1em;
        height: 16px / 14px * 1em;
        border: 2px solid #fff;
        border-radius: 100%;
      }
    }
    .noUi-connect,
    &.noUi-target {
      border-radius: 3px;
    }
    .noUi-connect,
    &.noUi-horizontal .noUi-handle {
      @media print, screen and (color) {
        background: gradients.secondary(1);
      }
    }
    &.noUi-target {
      @media print, screen and (color) {
        border: var(--border);
      }
    }
  }

  &__description {
    font-size: 12px / 14px * 1em;
    line-height: 14px / 12px * 1em;
    grid-area: description;

    @media print, screen and (color) {
      color: rgba(var(--color__dark-shade), 0.5);
    }
  }
}
