.form-range-slider {
  display: grid;
  grid:
    'label result'
    '. .' 23px / 14px * 1em
    'slider slider'
    '. .' 16px / 14px * 1em
    'description description';
  align-items: baseline;

  &__label {
    grid-area: label;
  }

  &__input {
    display: none;
  }

  &__result {
    grid-area: result;

    text-align: right;
    font-size: 12px/14px * 1em;
    line-height: 15px/24px * 1em;
    text-transform: uppercase;
  }

  &__slider {
    grid-area: slider;
    align-self: end;

    /* lib redefinition */
    .noUi-handle {
      border-radius: 100%;
      box-shadow: initial;
      cursor: pointer;
      &:after,
      &:before {
        display: none;
      }
    }
    &.noUi-horizontal {
      height: 6px / 14px * 1em;

      .noUi-handle {
        width: 16px / 14px * 1em;
        height: 16px / 14px * 1em;
        top: -6px / 14px * 1em;
        right: -8px / 14px * 1em;
        border: 2px solid #ffffff;
        border-radius: 100%;
      }
    }
    .noUi-connect,
    &.noUi-target {
      border-radius: 3px;
    }
  }

  &__description {
    grid-area: description;

    font-size: 12px / 14px * 1em;
    line-height: 14px / 12px * 1em;
  }
}
