@use '@utils/devTools/styles/mixins.scss';
@use '@utils/devTools/styles/functions.scss';
@use '@utils/devTools/styles/vendor-fonts-mixins.scss';
@use '@themes/main/gradients.scss';

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  text-indent: 0;
  font-size: functions.get-liquid-size(24, 18);

  &_font-family_material {
    @include vendor-fonts-mixins.material-icon(
      inline-flex,
      functions.get-liquid-size(24, 18)
    );
  }
  &_font-family_branded {
    @include vendor-fonts-mixins.font-awesome();
  }

  &_width_medium {
    width: 24px / 24px * 1em;
  }
  &_width_large {
    width: 44px / 24px * 1em;
  }

  &_height_font {
    height: initial;
  }

  &_color_primary-gradient {
    @media print, screen and (color) {
      @include mixins.gradient-font(gradients.primary(1));
    }
  }
}
