@use '@utils/devTools/styles/functions.scss';
@use '@utils/devTools/styles/vendor-fonts-mixins.scss';

.icon {
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-indent: 0;
  font-size: functions.getLiquidSize(24, 18);

  &_font-family_material {
    @include vendor-fonts-mixins.materialIcon;
    display: inline-flex;
    font-size: functions.getLiquidSize(24, 18);
  }
  &_font-family_branded {
    @include vendor-fonts-mixins.fontAwesome;
  }

  &_width_medium {
    width: 24px / 24px * 1em;
  }
  &_width_large {
    width: 44px / 24px * 1em;
  }

  &_height_font {
    height: initial;
  }
}
