@use '@utils/devTools/styles/functions.scss';

.icon {
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-indent: 0;
  font-size: functions.getLiquidSize(24, 18);
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  &_width_medium {
    width: 24px / 24px * 1em;
  }
  &_width_large {
    width: 44px / 24px * 1em;
  }

  &_height_font {
    height: initial;
  }
}
