@use "./../../../colors.scss";

.form-checkbox-buttons__button-item {
  border: var(--border);
  border-radius: var(--border-radius-size);

  &:checked {
    background: linear-gradient(180deg, white, white) padding-box,
      map-get(colors.$THEME_GRADIENTS, gradient__primary_100) border-box;
  }

  &:before {
    border-image: map-get(colors.$THEME_GRADIENTS, gradient__primary_100) 2;
  }
}
