.pick-room-card {
  display: grid;
  grid:
    'title title'
    '. .' #{22.5px / 14px * 1em}
    'datepicker datepicker'
    '. .' #{20px / 14px * 1em}
    'guests-dropdown guests-dropdown'
    '. .' #{31px / 14px * 1em}
    'submit-btn submit-btn';

  &__title {
    grid-area: title;
  }

  &__datepicker-fieldset {
    margin: 0;
    padding: 0;
    border-width: 0;
    line-height: initial;
    grid-area: datepicker;
  }

  &__datepicker {
    display: grid;
    grid: 'arrival-date-dropdown . departure-date-dropdown' auto / 1fr #{20px / 14px * 1em} 1fr;
  }

  &__arrival-date-dropdown {
    grid-area: arrival-date-dropdown;
  }

  &__departure-date-dropdown {
    grid-area: departure-date-dropdown;
  }

  &__guests-dropdown {
    grid-area: guests-dropdown;
  }

  &__submit-btn {
    grid-area: submit-btn;
  }
}
